{% extends 'edit.html.twig' %}

{# EDIT : DNA #}
{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.specimenFk is not null %}
		<a href="{{path('specimen_show', {id:edit_form.vars.data.specimenFk.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to specimen'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}


{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("dna-form") }}
{% endblock %}
