{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('index') }}
	{{ encore_entry_link_tags('dna-index') }}
{% endblock %}

{% block page_area %}
	<div id="index_table_container"></div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("index") }}
	{{ encore_entry_script_tags("dna-index") }}
{% endblock %}
