{% use "bootstrap_4_horizontal_layout.html.twig" %}


{%- block form_start -%}
{% set attr = attr | merge({
		class:((attr.class|default('')) ~ ' container-fluid')|trim,
		}) %}

{% if form is rootform %}
	{% set attr = attr | merge({
			'data-action' : form.vars.action_type|default('unset')
			}) %}
{% endif %}
{{parent()}}
{% endblock %}


{% block form_label_class %}
{% if required|default(false) %}
	text-danger
{% endif %}
col-lg-3 col-xl-2 font-weight-bold text-lg-right
{% endblock %}


{% block form_label_errors %}{% endblock %}


{% block form_widget %}
{{parent()}}
{{ block('form_errors') }}
{% endblock %}

{%- block button_row -%}
    {% with {row_attr: row_attr|merge({class:"row"})} %}
		{{parent()}}
		{% endwith %}
{%- endblock button_row -%}

{% block button_widget %}
<div class="offset-lg-3 offset-xl-2 col-lg-9 col-xl-10">
	{% if attr['data-toggle']|default('') == "modal" %}
		{% set target = attr['data-target'] |default(null)
				?	attr['data-target']
				: '#modal-' ~ form.vars.id ~ ' .modal' %}
		{% set attr = attr|merge({
			'data-target': target
		}) %}
	{% endif %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
		 <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
		{% if icon_class|default(null) %}
			<i class="fas {{icon_class}}"></i>
		{% endif %}
		 {{ translation_domain is same as(false) or label is same as(false)
		    ? label
        : label|trans(label_translation_parameters, translation_domain) }}
		 </button>
</div>
{% endblock %}

{%- block choice_widget_expanded -%}
{% set extra_classes = ' form-check'%}
{% if 'stacked' not in attr['class']|default('') %}
{% set extra_classes = extra_classes ~ " form-check-inline" %}
{% endif %}
{% set attr =
      attr|merge({
        class: ((attr.class|default('')) ~ extra_classes)|trim
      }) %}
    {{parent()}}
{%- endblock choice_widget_expanded -%}

{% block form_group_class %}
col-lg-9 col-xl-10 needs-validation input-group
{% endblock %}

{% block date_widget -%}
{% if widget == 'single_text' %}
	{% set attr =
      attr|merge({
        placeholder: 'DD-MM-YYYY',
        class: ((attr.class|default('')) ~ ' date-autoformat')|trim
      }) %}
{% endif %}
{{ parent() }}
<div class="invalid-feedback">
	Invalid date
</div>
{% endblock %}

{% block choice_widget_collapsed -%}
{% if 'remote-source' not in attr['class']|default('') %}
{% set attr =
      attr|merge({
        class: ((attr.class|default('')) ~ ' selectpicker border')|trim,
				"data-live-search": true
      }) %}
{% endif %}
{{ parent() }}
{% endblock %}

{% block widget_attributes %}
{% set attr =
    attr|merge({
      class: ((attr.class|default('')) ~ ' form-control-sm')|trim,
    }) %}
{{ parent() }}
{% endblock %}


{% block collection_row %}
<div class="form-group row">
	{{form_label(form)}}
	<div class="col-lg-9">
		{{form_widget(form)}}
	</div>
</div>
{% endblock %}


{% macro printCollectionEntry(entry, form_type, withDelete = true) %}

	{% set entry_id = "entry_" ~ entry.vars.id %}
  {% set btnDeleteVisibility = form_type != 'show' and withDelete ? "visible": "invisible" %}

	<div id="{{ entry_id }}" class="row collection-entry">
  	<div class="col-11">
      {% if (entry|length) > 1 %}
        {# Collection entry has many fields #}
        {% form_theme entry 'Form/collection-field-theme.html.twig' %}
        {{ form_widget(entry) }}
      {% else %}
        {# Collection entry has one field #}
        <div class="row form-group">
          {{ form_widget(entry) }}
        </div>
      {% endif %}
      
    </div>
		<div class="col-1 delete-btn-container">
				<button type="button"
					class="btn-entry-delete btn btn-danger btn-sm {{ btnDeleteVisibility }}"
					data-target="{{ entry_id }}">
					<i class="fas fa-times"></i>
				</button>
		</div>
	</div>

{% endmacro %}


{% block collection_widget %}
  {% import _self as formMacros %}

  {# Find rootform type #}
  {% set form_type = form.vars.action_type|default(null) %}
  {% set current = form %}
  {% for i in 1..4 %}
    {% if form_type is null %}
      {% set current = form_parent(current) %}
      {% set form_type = current.vars.action_type | default(null) %}
    {% endif %}
  {% endfor %}

  {% set wrapper_id = "wrapper_" ~ form.vars.id %}
  {% set prototype = null %}
  {% if form.vars.allow_add %}
  {% set prototype = formMacros.printCollectionEntry(form.vars.prototype, form_type, false) %}
  {% endif %}
  <div id="{{ wrapper_id }}"
        class="card collection-wrapper {% if form.vars.required %}required{% endif %}"
        data-prototype="{{ prototype | spaceless |e('html_attr') }}"
        data-index={{ form.count }}>


    {% if form_type != 'show' and allow_add %}

      {# include card header with buttons #}

      <div class="card-header">
          <div class="btn-group flex-wrap btn-group-sm">
            <button type="button" class="btn-entry-add btn btn-primary"
                data-target="{{ wrapper_id }}">
                {{'add'|trans(domain='ui')|capitalize}}
            </button>
            {% if attr['data-allow-new']|default(false) %}
              <button type="button" class="btn btn-info"
                  data-toggle="modal"
                  data-target="{{ '#modal-' ~ form.vars.id ~ ' .modal' }}">
                  {{'create'|trans(domain='ui')|capitalize}}
              </button>
            {% endif %}
          </div>
      </div>
    {% endif %}

    <div class="card-body entry-list">
      {% if form.count %}
        {% for entry in form %}
          {% set withDeleteBtn = (form.count > 1 or not form.vars.required) and allow_delete %}
          {{ formMacros.printCollectionEntry(entry, form_type, withDeleteBtn) }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
