{% extends 'base.html.twig' %}

{# DASHBOARD #}

{% block headincl %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block page_title %}
	<h1>{{app_name}}</h1>
{% endblock %}

{% block body %}

	{% set NbTot = internalSequenceCount + nbChromatogram + nbPcr + nbSpecimen + internalLotCount %}

	<div class="row">

		<div class="col-md-4 col-sm-4 col-xs-12">

			<div class="x_panel tile fixed_height_200">
				<div class="x_title">
					<h2>{{'Dashboard.Données de terrain'|trans}}</h2>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbStation'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbStation }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.samplingCount'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ samplingCount }}</span>
						</div>
						<div class="clearfix"></div>
					</div>

				</div>
			</div>

			<div class="x_panel tile fixed_height_200">
				<div class="x_title">
					<h2>{{'Dashboard.Données moléculaire'|trans}}</h2>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbPcr'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbPcr }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbChromatogram'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbChromatogram }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.internalSequenceCount'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ internalSequenceCount }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="x_panel tile fixed_height_390">

				<div class="x_title">
					<h2>{{'Dashboard.Materiel biologique'|trans}}</h2>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.internalLotCount'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ internalLotCount }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbSpecimen'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbSpecimen }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbSlide'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbSlide }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.dnaCount'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbDna }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbBoite'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbBoite }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12">

			<div class="x_panel tile fixed_height_200">
				<div class="x_title">
					<h2>{{'Dashboard.Hypothese espece'|trans}}</h2>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbTaxon'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbTaxon }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbMotuSqcAss'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbMotuSqcAss }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbMotuSqcAssExt'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbMotuSqcAssExt }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="x_panel tile fixed_height_200">
				<div class="x_title">
					<h2>{{'Dashboard.Données de la litérature'|trans}}</h2>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.ExternalLot'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbExternalLot }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.externalSeqCount'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ externalSeqCount }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="widget_summary">
						<div class="w_left w_55">
							<span>{{'Dashboard.nbSource'|trans}}</span>
						</div>
						<div class="w_center w_25"></div>
						<div class="w_right w_20">
							<span>{{ nbSource }}</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="row">

		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>{{'Dashboard.Tools'|trans}}</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="dashboard-widget-content">

						{% if is_granted('ROLE_ADMIN') %}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessite_index') }}">{{'import.site'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessampling_index') }}">{{'import.sampling'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_index') }}">{{'import.internal_lot'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesspecimen_index') }}">{{'import.specimen'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesslide_index') }}">{{'import.slide'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesexternal_lot_index') }}">{{'import.external_lot'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdna_index') }}">{{'import.dna'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilespcr_index') }}">{{'import.pcr'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfileschromatogram_index') }}">{{'import.chromatogram'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_sequence_index') }}">{{'import.internal_sequence'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('import_files_external_sequence_index') }}">{{'import.external_sequence'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesmotu_dataset_index') }}">{{'import.motu_dataset'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessource_index') }}">{{'import.source'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_range_index') }}">{{'import.store.internal_lot_range'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessliderange_index') }}">{{'import.store.sliderange'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdnarange_index') }}">{{'import.store.dnarange'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_deplace_index') }}">{{'import.store.internal_lot_deplace'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesslidedeplace_index') }}">{{'import.store.slidedeplace'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdnadeplace_index') }}">{{'import.store.dnadeplace'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_publie_index') }}">{{'import.source.internal_lot_publie'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessqcassembleepublie_index') }}">{{'import.source.sequencepublie'|trans}}</a><br/>
						{% elseif  is_granted('ROLE_PROJECT')%}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessite_index') }}">{{'import.site'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessampling_index') }}">{{'import.sampling'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_index') }}">{{'import.internal_lot'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesspecimen_index') }}">{{'import.specimen'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesslide_index') }}">{{'import.slide'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesexternal_lot_index') }}">{{'import.external_lot'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdna_index') }}">{{'import.dna'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilespcr_index') }}">{{'import.pcr'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfileschromatogram_index') }}">{{'import.chromatogram'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_sequence_index') }}">{{'import.internal_sequence'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('import_files_external_sequence_index') }}">{{'import.external_sequence'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.motu_dataset'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessource_index') }}">{{'import.source'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_range_index') }}">{{'import.store.internal_lot_range'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessliderange_index') }}">{{'import.store.sliderange'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdnarange_index') }}">{{'import.store.dnarange'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.internal_lot_deplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.slidedeplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.dnadeplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_publie_index') }}">{{'import.source.internal_lot_publie'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessqcassembleepublie_index') }}">{{'import.source.sequencepublie'|trans}}</a><br/>
						{% elseif  is_granted('ROLE_COLLABORATION')%}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.site'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.sampling'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.internal_lot'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.specimen'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.slide'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.external_lot'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdna_index') }}">{{'import.dna'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilespcr_index') }}">{{'import.pcr'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfileschromatogram_index') }}">{{'import.chromatogram'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_sequence_index') }}">{{'import.internal_sequence'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('import_files_external_sequence_index') }}">{{'import.external_sequence'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.motu_dataset'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.source'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_range_index') }}">{{'import.store.internal_lot_range'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessliderange_index') }}">{{'import.store.sliderange'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesdnarange_index') }}">{{'import.store.dnarange'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.internal_lot_deplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.slidedeplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.dnadeplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_publie_index') }}">{{'import.source.internal_lot_publie'|trans}}</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessqcassembleepublie_index') }}">{{'import.source.sequencepublie'|trans}}</a><br/>
						{% elseif  is_granted('ROLE_INVITED')%}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.site'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.sampling'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.internal_lot'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.specimen'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.slide'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.external_lot'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.dna'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.pcr'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.chromatogram'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.internal_sequence'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.external_sequence'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.motu_dataset'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.source'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.internal_lot_range'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.sliderange'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.dnarange'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.internal_lot_deplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.slidedeplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.store.dnadeplace'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.source.internal_lot_publie'|trans}}</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">{{'import.source.sequencepublie'|trans}}</font>
							</a><br/>
							{% else  %}

						{% endif %}

					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8 col-sm-8 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>{{'Dashboard.LastUpdate'|trans}}</h2>
					<div class="clearfix"></div>
				</div>
				<div id="sites" class="x_content">
					<div class="table-responsive">
						<table
							id="last-updates-table"
							class="table table-condensed table-hover table-striped">
							<thead>
								<tr>
									<th data-column-id="id" data-type="numeric" data-visible="false">Id</th>
									<th data-column-id="dbName" data-visible="false">DB Table</th>
									<th data-column-id="name">Table</th>
									<th data-column-id="code">Code</th>
									<th data-column-id="metaUpdateDate" data-type="date" data-sortable="true">{{'list.Meta update date'|trans}}</th>
									<th data-column-id="metaUpdateUser">{{'Meta update user'|trans}}</th>
									<th
										data-column-id="showEntity"
										data-formatter="showEntity"
										data-sortable="false"
										data-visible="true">Show</th>
								</tr>
							</thead>
							<tbody>
								{% for entity in entities %}
									<tr>
										<td>{{entity.id }}</td>
										<td>{{entity.name}}</td>
										<td>{{('core.' ~ entity.name)|trans(domain="sections")|capitalize}}</td>
										<td>{{entity.code }}</td>
										<td>{{entity.metaUpdateDate}}</td>
										<td>{{entity.metaUpdateUser }}</td>
										<td></td>
									</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('dashboard') }}
{% endblock %}
