{% extends 'edit.html.twig' %}

{# EDIT : MOTU #}

{% block body %}
    
    {{ parent() }}   
           
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog modal-lg">
     <div class="modal-content">
          <div class="modal-header">
             <h1 class="modal-title">{{'title.Personne'|trans}}</h1>
             <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('App\\Controller\\Core\\PersonneController::newmodalAction')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light border" data-dismiss="modal">{{'button.Close'|trans}}</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  
// Person Modal Actions
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_motu_motuEstGenerePars');
                    var index = getLastIndex('bbees_e3sbundle_motu_motuEstGenerePars');
                    callAjax(form, $container, index);	
	});                    
               
        // Collection lotMaterielEstRealisePars (Personne)
        addCollectionButtons('bbees_e3sbundle_motu_motuEstGenerePars',"Personne",true);       
 
    });
 </script>
 
<script type="text/javascript">  
// Form actions
$(document).ready(function(){
        // General action on form: form lock (default) / user role: app.user ...
        // features of date & date_precision fields 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_motu_dateMotu').change(function (e) { 
            dateFormat('bbees_e3sbundle_motu', 'dateMotu', message);
        })
        {% if action == 'edit'  %}  
        {% endif %}
        {% if action == 'new'  %}          
        {% endif %}
    });
</script>

{% endblock %}
