{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adnestrealisepars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adnEstRealisePar in adnEstRealisePars %}
            <tr>
                <td><a href="{{ path('adnestrealisepar_show', { 'id': adnEstRealisePar.id }) }}">{{ adnEstRealisePar.id }}</a></td>
                <td>{% if adnEstRealisePar.dateCre %}{{ adnEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if adnEstRealisePar.dateMaj %}{{ adnEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ adnEstRealisePar.userCre }}</td>
                <td>{{ adnEstRealisePar.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adnestrealisepar_show', { 'id': adnEstRealisePar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adnestrealisepar_edit', { 'id': adnEstRealisePar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adnestrealisepar_new') }}">Create a new adnEstRealisePar</a>
        </li>
    </ul>
{% endblock %}
