{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adnestrealisepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adnEstRealisePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if adnEstRealisePar.dateCre %}{{ adnEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if adnEstRealisePar.dateMaj %}{{ adnEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ adnEstRealisePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ adnEstRealisePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adnestrealisepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adnestrealisepar_edit', { 'id': adnEstRealisePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
