<!DOCTYPE html>

<html lang="{{ app.request.getLocale() }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{ asset('build/images/favicon.ico') }}" type="image/ico"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('core') }}
			{{ encore_entry_link_tags('login') }}
		{% endblock %}

		{% trans_default_domain 'ui' %}
		<title>
			{% block title %}
				Login
			{% endblock %}
		</title>
	</head>
	<body>
		<img id="dna-bg" src="{{asset('build/images/dna.jpg')}}" alt="" srcset="">
		<div id="world-bg-wrapper">
			<img id="world-bg" src="{{asset('build/images/world-map.png')}}" alt="" srcset="">
		</div>
		<div id="login-panel">
			<form id="login-form" action="{{ path('login') }}" method="post">

				<h2>{{app_name}}</h2>
				<hr>
				<div class="form-header">
					<img id="app_image" src="{{asset('build/images/proasellus_valdensis.jpeg')}}"/>
				</div>


				<div class="messages text-danger">
					{% if error %}
						{{ error.messageKey|trans(error.messageData, 'security') }}
					{% endif %}
				</div>

				<div class="form-group">
					<label class="col-form-label" for="username">
						{{'login.username'|trans|capitalize}}
					</label>
					<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="" required="required"/>

				</div>
				<div class="form-group">
					<label for="password" class="col-form-label">
						{{'login.password'|trans|capitalize }}
					</label>

					<input
						type="password"
						id="password"
						name="_password"
						class="form-control"
						required="required"/>

				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						{{'login.remember me'|trans|capitalize}}
					</label>
				</div>

				<div id="login-btn-group" class="form-group">
					<button id="login-btn" type="submit" class="btn btn-success btn-block">
						{{'login.sign in'|trans|capitalize}}
						<i class="fas fa-key"></i>
					</button>
				</div>

				<div id="lang-switch">
					<i class="fas fa-globe"></i>
					{% for locale in availableLocales %}
						|
						{% if app.request.locale == locale %}
							<b>{{locale | upper}}</b>
						{% else %}
							<a href="{{path('login', {_locale: locale})}}">{{locale|upper}}</a>
						{% endif %}
					{% endfor %}
				</div>
			</form>
		</body>
	</body>
</html></div><div id="login-footer">
<svg width="100" height="100">
	<circle cx="50" cy="50" r="40" fill="white"/>
</svg>
<div id="login-footer-content">
	<img id="lehna-logo" src="{{ asset('build/images/logo-LEHNA.png') }}" width="75" height="75" alt="LEHNA"/>
	<span id="lehna-desc" class="umr-desc">
		LEHNA : UMR CNRS 5023 Ecologie des Hydrosystèmes Naturels et Anthropisés,
		<br> Université Lyon 1 , ENTPE, CNRS, Université Lyon
	</span>
	<img id="bbees-logo" src="{{ asset('build/images/logo-BBEES.png') }}" width="75" height="75" alt="Unité Bases de données sur la Biodiversité, Écologie, Environnement et Sociétés (BBEES), Muséum national d'Histoire naturelle, CNRS "/>
	<span id="bbees-desc" class="umr-desc">
		BBEES : Unité Bases de données sur la Biodiversité, Écologie, Environnement et
		Sociétés
		<br> Muséum national d'Histoire naturelle, CNRS ; CP55, 57 rue Cuvier 75005
		Paris, France
	</span>
	<div id="login-logos">
		<img class="login-logo" src="{{ asset('build/images/logo-CNRS.png') }}" height="75" alt="CNRS"/>
		<img class="login-logo" src="{{ asset('build/images/logo-LYON1.png') }}" height="75" alt="UNIV-LYON1"/>
		<img class="login-logo" src="{{ asset('build/images/logo-MNHN.png') }}" height="75" alt="MNHN"/>
		<img class="login-logo" src="{{ asset('build/images/logosimpleCC.jpg') }}" height="75" alt="CC-IN2P3"/>
	</div>
</div></div></body></html>
