{% extends 'base.html.twig' %}

{# LOGIN #}

		{% block stylesheets %}
			{{parent()}}
			{{ encore_entry_link_tags('login') }}
		{% endblock %}

{% block leftnav %}
	{% embed "nav.html.twig" %}
		{% block sidebar %}{% endblock %}
	{% endembed %}
{% endblock %}



{% block titlepage %}
	<h1>Gene, Occurence and Taxa in Integrative Taxonomy</h1>
{% endblock %}


{% block body %}

	<div id="login-form-container">

		<form id="login-form" action="{{ path('login') }}" method="post">
			<h2>Login</h2>
			<hr>

			<div class="messages">
				{% if error %}
					{{ error.messageKey}} / {{ error.messageKey|trans(error.messageData, 'security') }}
				{% endif %}
			</div>

			<div class="form-group">
				<label class="col-form-label" for="username">
					Username
				</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="" required="required"/>

			</div>
			<div class="form-group">
				<label for="password" class="col-form-label">Password</label>

				<input
					type="password"
					id="password"
					name="_password"
					class="form-control"
					required="required"/>

			</div>
			{# If you want to control the URL the user is redirected to on success (more details below) #}
			<input
				type="hidden"
				name="_target_path"
				value="/{{app.request.getDefaultLocale()}}"/>
			<div class="form-group">
				<button id="send" type="submit" class="btn btn-success btn-block">
					<i class="fas fa-sign-in-alt"></i>
					Login
				</button>

			</div>
		</form>
	</div>

	<!-- footer content -->
	<div class="x_panel">
		<div id="login-footer" class="x_content">
			<img id="lehna-logo" src="{{ asset('build/images/logo-LEHNA.png') }}" width="75" height="75" alt="LEHNA"/>
			<span id="lehna-desc" class="umr-desc">LEHNA : UMR CNRS 5023 Ecologie des
				Hydrosystèmes Naturels et Anthropisés,<br>
			Université Lyon 1 , ENTPE, CNRS, Université Lyon</span>
			<img id="bbees-logo" src="{{ asset('build/images/logo-BBEES.png') }}" width="75" height="75" alt="Unité Bases de données sur la Biodiversité, Écologie, Environnement et Sociétés (BBEES), Muséum national d'Histoire naturelle, CNRS "/>
			<span id="bbees-desc" class="umr-desc">BBEES : Unité Bases de données sur
				laBiodiversité, Écologie, Environnement et Sociétés<br>
			Muséum national d'Histoire naturelle, CNRS ; CP55, 57 rue Cuvier 75005 Paris,
			France</span>
			<div id="login-logos">
				<img class="login-logo" src="{{ asset('build/images/logo-CNRS.png') }}" height="75" alt="CNRS"/>
				<img class="login-logo" src="{{ asset('build/images/logo-LYON1.png') }}" height="75" alt="UNIV-LYON1"/>
				<img class="login-logo" src="{{ asset('build/images/logo-MNHN.png') }}" height="75" alt="MNHN"/>
				<img class="login-logo" src="{{ asset('build/images/logosimpleCC.jpg') }}" height="75" alt="CC-IN2P3"/>
			</div>
		</div>
	</div>
	<!-- /footer content -->

{% endblock %}
