{% extends 'edit.html.twig' %}

{# EDIT : LAME #}
{% block action %}
	{{parent()}}
	{% set specimen = edit_form.vars.data.specimen %}
	{% if specimen is not null %}
		<a href="{{path('specimen_show', {id: specimen.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to specimen'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("specimen-slide-form") }}
{% endblock %}
