{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aciblers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aCibler in aCiblers %}
            <tr>
                <td><a href="{{ path('acibler_show', { 'id': aCibler.id }) }}">{{ aCibler.id }}</a></td>
                <td>{% if aCibler.dateCre %}{{ aCibler.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if aCibler.dateMaj %}{{ aCibler.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ aCibler.userCre }}</td>
                <td>{{ aCibler.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('acibler_show', { 'id': aCibler.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('acibler_edit', { 'id': aCibler.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acibler_new') }}">Create a new aCibler</a>
        </li>
    </ul>
{% endblock %}
