{% extends 'index.html.twig' %}

{#  BOITE #}

    {# initialise le tableau des entitées liées ([entity1,entity2 ... ])  vers lesquelles on souhaite faire un lien-racourcis  
    1) le tableau des resulatats devra comprendre un collonne du type : <th data-column-id="linkEntity" data-formatter="linkEntity" data-sortable="false">Col.</th>
    2) le controller devra renvoyer dans le tableau rows les collones du type :  "linkEntity1" => "patern1" ,  "linkeEntity2" => "patern2" ... #}
    {% set links =  [] %}
    
    
{% block titlepage %}
    <h1>        
        {% if app.request.query.get('typeBoite') is defined and  app.request.query.get('typeBoite') != '' %} 
                {{ [ ['title.',entityname]|join , app.request.query.get('typeBoite')]|join|trans}}
            {% else %} 
                {{['title.',entityname ]|join|trans}}
        {% endif %} 
    </h1>
{% endblock %}  

{% block action %}
    {# gestion des parametres d'url #}       
    {% if varUrl_typeBoite is defined and  varUrl_typeBoite != '' %} 
        <a href="{{ path(route_index) }}?typeBoite={{varUrl_typeBoite}}" class="btn btn-primary btn-sm" role="button">{{'buton.showAllRecord'|trans}}</a> 
     {% else %}
         <a href="{{ path(route_index) }}" class="btn btn-primary btn-sm" role="button">{{'buton.showAllRecord'|trans}}</a>
    {% endif %}
    
    {% if is_granted('ROLE_COLLABORATION') %}    
        {% if varUrl_typeBoite is defined and  varUrl_typeBoite != '' %} 
             <a href="{{ path( route_new ) }}?typeBoite={{varUrl_typeBoite}}" class="btn btn-info btn-sm" role="button">{{['buton.New',entityname|capitalize]|join|trans}}</a>  
        {% else %}
             <a href="{{ path( route_new ) }}" class="btn btn-info btn-sm" role="button">{{['buton.New',entityname|capitalize]|join|trans}}</a> 
        {% endif %}
    {% else %}
        <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{['buton.New',entityname|capitalize]|join|trans}}</a>
    {% endif %}
    
    {# <a href="{{ path( route_importfiles ) }}" class="btn btn-primary btn-sm" role="button">{{['buton.Import',entityname|capitalize]|join|trans}}</a>#}
    {% if app.request.query.get('typeBoite') is defined and  app.request.query.get('typeBoite') == 'LOT' %}         
            {% if is_granted('ROLE_COLLABORATION') %}
                <a href="{{ path( 'importfileslotmaterielrange_index' ) }}" class="btn btn-primary btn-sm" role="button">{{'buton.Import lot materiel range'|trans}}</a>
            {% else %}
                <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{'buton.Import lot materiel range'|trans}}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path( 'importfileslotmaterieldeplace_index' ) }}" class="btn btn-primary btn-sm" role="button">{{'buton.Import lot materiel deplace'|trans}}</a>
            {% else %}
                <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{'buton.Import lot materiel deplace'|trans}}</a>
            {% endif %}
    {% endif %} 
     {% if app.request.query.get('typeBoite') is defined and  app.request.query.get('typeBoite') == 'LAME' %} 
        
            {% if is_granted('ROLE_COLLABORATION') %}
                <a href="{{ path( 'importfilesindividulamerange_index' ) }}" class="btn btn-primary btn-sm" role="button">{{'buton.Import individu lame range'|trans}}</a> 
            {% else %}
                <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{'buton.Import individu lame range'|trans}}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path( 'importfilesindividulamedeplace_index' ) }}" class="btn btn-primary btn-sm" role="button">{{'buton.Import individu lame deplace'|trans}}</a>
            {% else %}
                <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{'buton.Import individu lame deplace'|trans}}</a>
            {% endif %}
    {% endif %} 
    {% if app.request.query.get('typeBoite') is defined and  app.request.query.get('typeBoite') == 'ADN' %} 
            {% if is_granted('ROLE_COLLABORATION') %}
                <a href="{{ path( 'importfilesadnrange_index' ) }}" class="btn btn-primary btn-sm" role="button">{{'buton.Import adn range'|trans}}</a>            
            {% else %}
                <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{'buton.Import adn range'|trans}}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path( 'importfilesadndeplace_index' ) }}" class="btn btn-primary btn-sm" role="button">{{'buton.Import adn deplace'|trans}}</a>
            {% else %}
                <a href="#" class="btn btn-primary btn-sm" style="background-color:lightgrey" role="button">{{'buton.Import adn deplace'|trans}}</a>
            {% endif %}
    {% endif %} 

{% endblock %}

{% block body %}  
    
    {# definition des collones à afficher 
     ! pour les collones sortable suffixer les nom de champs par le nom des tables nomTable.nomChamp #}
    <div class="table-responsive">        
    <table id="grid-basic" class="table table-condensed table-hover table-striped" >           
        <thead>
            <tr>
                <th data-column-id="boite.id" data-type="numeric" data-visible="false" >Id</th>
                <th data-column-id="boite.codeBoite" data-sortable="true">{{'Code boite'|trans}}</th> 
                <th data-column-id="vocCodeCollection.code" data-sortable="true" data-visible="true">{{'Code collection voc fk'|trans}}</th> 
                <th data-column-id="boite.libelleBoite" data-sortable="true">{{'Libelle boite'|trans}}</th> 
                <th data-column-id="vocCodeCollection.libelle" data-sortable="true" data-visible="false">{{'Libelle collection'|trans}}</th> 
                <th data-column-id="boite.dateMaj" data-width="100">{{'list.Date maj'|trans}}</th>
                <th data-column-id="boite.dateCre" data-width="100" data-visible="false">{{'list.Date cre'|trans}}</th>
                <th data-column-id="boite.userCre" data-width="10" data-visible="false">{{'list.User cre'|trans}}</th>
                <th data-column-id="boite.userMaj" data-width="10" data-visible="false">{{'list.User maj'|trans}}</th>
                <th data-column-id="show" data-formatter="show" data-sortable="false" data-width="20">Show</th>
                <th data-column-id="edit" data-formatter="edit" data-sortable="false" data-width="20">Edit</th>
                <th data-column-id="delete" data-formatter="delete" data-sortable="false" data-width="20">Del</th>
            </tr>
        </thead>
    </table>
    </div>       
{% endblock %}
