{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boite.id }}</td>
            </tr>
            <tr>
                <th>Codeboite</th>
                <td>{{ boite.codeBoite }}</td>
            </tr>
            <tr>
                <th>Libelleboite</th>
                <td>{{ boite.libelleBoite }}</td>
            </tr>
            <tr>
                <th>Libellecollection</th>
                <td>{{ boite.libelleCollection }}</td>
            </tr>
            <tr>
                <th>Commentaireboite</th>
                <td>{{ boite.commentaireBoite }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if boite.dateCre %}{{ boite.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if boite.dateMaj %}{{ boite.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ boite.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ boite.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('boite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('boite_edit', { 'id': boite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
