{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sqcestpubliedans list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sqcEstPublieDan in sqcEstPublieDans %}
            <tr>
                <td><a href="{{ path('sqcestpubliedans_show', { 'id': sqcEstPublieDan.id }) }}">{{ sqcEstPublieDan.id }}</a></td>
                <td>{% if sqcEstPublieDan.dateCre %}{{ sqcEstPublieDan.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if sqcEstPublieDan.dateMaj %}{{ sqcEstPublieDan.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sqcEstPublieDan.userCre }}</td>
                <td>{{ sqcEstPublieDan.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sqcestpubliedans_show', { 'id': sqcEstPublieDan.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sqcestpubliedans_edit', { 'id': sqcEstPublieDan.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sqcestpubliedans_new') }}">Create a new sqcEstPublieDan</a>
        </li>
    </ul>
{% endblock %}
