{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sqcestpubliedan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sqcEstPublieDan.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if sqcEstPublieDan.dateCre %}{{ sqcEstPublieDan.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if sqcEstPublieDan.dateMaj %}{{ sqcEstPublieDan.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ sqcEstPublieDan.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ sqcEstPublieDan.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sqcestpubliedans_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sqcestpubliedans_edit', { 'id': sqcEstPublieDan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
