{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lotestpubliedan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lotEstPublieDan.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if lotEstPublieDan.dateCre %}{{ lotEstPublieDan.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if lotEstPublieDan.dateMaj %}{{ lotEstPublieDan.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ lotEstPublieDan.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ lotEstPublieDan.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lotestpubliedans_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lotestpubliedans_edit', { 'id': lotEstPublieDan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
