{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pcrestrealisepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pcrEstRealisePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if pcrEstRealisePar.dateCre %}{{ pcrEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if pcrEstRealisePar.dateMaj %}{{ pcrEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ pcrEstRealisePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ pcrEstRealisePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pcrestrealisepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pcrestrealisepar_edit', { 'id': pcrEstRealisePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
