{# MOTU distribution : results section
  
  Variables :
  - methods_list
#}

{% trans_default_domain 'queries' %}

<template id="leaflet-popup-template">
  {% verbatim %}
    <div class="station-popup">
      <label style="grid-column: 1 / span 2;">
        <a href={{station_url}}>
          <b>{{station_code}}</b>
        </a>
      </label>
      <label>MOTU:</label>
      <span>{{motu}}</span>
      <label>Lat:</label>
      <span>{{latitude}}</span>
      <label>Lon:</label>
      <span>{{longitude}}</span>
      <label>Alt:</label>
      <span>{{altitude}}
        m</span>
      <span style="grid-column: 1 / span 2;text-align:right">{{municipality}}</span>
      <span style="grid-column: 1 / span 2;text-align:right">{{country}}</span>
    </div>
  {% endverbatim %}
</template>

<template id="marker-legend">
{% verbatim %}
  <span>MOTU {{motu}}</span>
  <svg height="16px" width="16px">
    <circle cx="8" cy="8" fill={{fillColor}} r="5" stroke-width="2" stroke={{color}} color={{color}} fill-opacity={{fillOpacity}}/>
  </svg>
{% endverbatim %}
</template>

{# Tabs #}

<ul class="nav nav-tabs" id="result-tabs" role="tablist">
  <li class="active" id="geolocation-tab" role="presentation">
    <a aria-controls="geolocation-pane" data-toggle='tab' href="#geolocation-pane" role="tab">
      <strong>
        <i class="fa fa-map-marker"></i>
        {% trans %}
        tabs.distribution.geo
        {% endtrans %}
      </strong>
    </a>
  </li>
  <li id="table-tab" role="presentation">
    <a aria-controls="result-pane" data-toggle='tab' href="#result-pane" role="tab">
      <strong>
        <i class="fa fa-th-list"></i>
        {% trans %}
        tabs.distribution.data
        {% endtrans %}
      </strong>
    </a>
  </li>
</ul>

{# Tab content #}

<div class="tab-content">
  <div class="tab-pane fade in out" id="result-pane" role="tabpanel">
    <div class="well well-sm">
      <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped" id="result-table">
          <thead>
            <tr>
              <th></th>
              <th id="col-taxname">
                {% trans %}
                columns.taxon
                {% endtrans %}</th>
              <th id="col-code-seq">
                {% trans %}
                columns.seqcode
                {% endtrans %}</th>
              <th>{% trans %}
                columns.type
                {% endtrans %}</th>
              <th>{% trans %}
                columns.accession
                {% endtrans %}</th>
              <th>{% trans %}
                columns.motu
                {% endtrans %}</th>
              <th>{% trans %}
                columns.lat
                {% endtrans %}</th>
              <th>{% trans %}
                columns.long
                {% endtrans %}</th>
              <th id="col-station" data-link-url="{{path('station_show', {id:0}) | trim(0)}}">{% trans %}
                columns.station
                {% endtrans %}</th>
              <th>{% trans %}
                columns.commune
                {% endtrans %}</th>
              <th>{% trans %}
                columns.pays
                {% endtrans %}</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane fade in out active" id="geolocation-pane" role="tabpanel">
    <div id="motu-geo-map"></div>
  </div>
</div>
