{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  <!-- Modal window styles -->
  <link href="{{ asset('e3s/vendors/queryBuilder/query-builder.default.css') }}" rel="stylesheet"> 
  {% endblock %}

{% block titlepage %}
    <h1>
        Query Builder
    </h1>
    <hr style="clear:both">
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-xs-12">
    {# Main form #}
    {% include '@LehnaQueryBuilder/Default/form.html.twig'%}  
    </div>
    <hr>
    <div >
      <h2 id="results-title" >
        <span>
        {% trans from 'queries' %}
        label.resultats
        {% endtrans %}
        </span>
      </h2>
      {% include '@LehnaQueryBuilder/Default/results.html.twig' %} 
    </div>
  </div>


{% endblock %}


{% block scripts %}

{{ parent() }}

<!-- Smartresize -->
<script src="{{ asset('e3s/vendors/jquery-smartresize/smartresize.js') }}"></script>
<!-- jquery-extendext -->
<script src="{{ asset('e3s/vendors/jquery-extendext/jQuery.extendext/jquery-extendext.js') }}"></script>
<!-- doT -->
<script src="{{ asset('e3s/vendors/doT/doT.js') }}"></script>
<!-- Query Builder -->
<script src="{{ asset('e3s/vendors/queryBuilder/query-builder.js') }}"></script>
<script src="{{ asset('e3s/vendors/queryBuilder/query-builder.standalone.js') }}"></script>
<!-- interactive js for the form aspect and data included-->
<script src="{{ asset('e3s/vendors/queryBuilder/demo-basic.js') }}"></script>
{% endblock %}

