{% extends 'edit.html.twig' %}

{# EDIT : SOURCE #}

{% block body %}
    
    {{ parent() }} 
    
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">{{'title.Personne'|trans}}</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'buton.Close'|trans}}</button>
          </div>
        </div>
      </div>
     </div>

{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  
// Person Modal Actions
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_source_sourceAEteIntegrePars');
                    var index = getLastIndex('bbees_e3sbundle_source_sourceAEteIntegrePars');
                    callAjax(form, $container, index);		
	}); 
              
        // Collection lotMaterielEstRealisePars (Personne)
        addCollectionButtons('bbees_e3sbundle_source_sourceAEteIntegrePars',"Personne",true); 

    });
 </script>
 
<script type="text/javascript">  
// Form actions
$(document).ready(function(){

        {% if action == 'edit'  %}  
            // General action on form: form lock (default) / user role: app.user ... 
            {% if not is_granted('ROLE_ADMIN') %}  
                // Locking fields: code source
                $('#bbees_e3sbundle_source_codeSource').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_source"]',function(ev){
                    $('#bbees_e3sbundle_source_codeSource').attr("disabled", false); 
                });                 
            {% endif %}
        {% endif %}
        {% if action == 'new'  %} 
            // General action on form: form lock (default) / user role: app.user ...        
        {% endif %}
    });
</script>

{% endblock %}
