{% extends 'base.html.twig' %}

{% block body %}
    <h1>Source</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source.id }}</td>
            </tr>
            <tr>
                <th>Codesource</th>
                <td>{{ source.codeSource }}</td>
            </tr>
            <tr>
                <th>Anneesource</th>
                <td>{{ source.anneeSource }}</td>
            </tr>
            <tr>
                <th>Libellesource</th>
                <td>{{ source.libelleSource }}</td>
            </tr>
            <tr>
                <th>Commentairesource</th>
                <td>{{ source.commentaireSource }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if source.dateCre %}{{ source.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if source.dateMaj %}{{ source.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ source.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ source.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('source_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('source_edit', { 'id': source.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
