{% extends 'base.html.twig' %}
{% form_theme edit_form 'form-theme.html.twig'   %}

{# initialization of TWIG general variables#}
{% set route = app.request.attributes.get('_route') %}
{% set entityname = route|split('_')[0] %}
{% set action = route|split('_')[1] %}
{% set actioncontroller = route|split('_')[1] %}
{% set route_new =  [entityname, '_new']|join  %} 
{% set route_index =  [entityname, '_index']|join  %} 

{# initialize the url attached to the BackToTheList button  #}
{% set path_route_index =  path(route_index)  %} 
{% if (app.request.query.get('idFk') is defined) and (app.request.query.get('idFk') is not null) and  (app.request.query.get('idFk') !='')%}
    {% set idFk = app.request.query.get('idFk') %} 
    {% if app.request.query.get('nameFk') is defined %}
        {% set nameFk =  app.request.query.get('nameFk')  %} 
        {% set formNameFk = ['edit_form.', app.request.query.get('nameFk')]|join  %} 
        {% set path_route_index =  path(route_index,{'nameFk':nameFk, 'idFk': idFk}) %}                
    {% else %}
        {% set path_route_index =  path(route_index,{'idFk': idFk}) %}               
    {% endif %}
{% endif %}
{% if (app.request.query.get('searchPatern') is defined) and (app.request.query.get('searchPatern') is not null) and  (app.request.query.get('searchPatern') !='')%}
    {% set path_route_index =  path(route_index,{'searchPatern': app.request.query.get('searchPatern')}) %}                
{% endif %}
{% if (app.request.query.get('typeBoite') is defined) and (app.request.query.get('typeBoite') is not null) and  (app.request.query.get('typeBoite') !='')%}
    {% set path_route_index =  path(route_index,{'typeBoite': app.request.query.get('typeBoite')}) %}                 
{% endif %}

{# initializes and manages the variables that are valid for validation and the BackToTheList button #}
{% set backbutton = 1 %}
{% set flagvalid = 0 %} 
{% set comptvalid = 1 %} 
{# case of the UPDATE / edit mode: valid is passed in form_edit form parameter after validation #}
{% if (valid is defined and valid == 1 )%} 
    {% set flagvalid = 1 %}
    {% set backbutton = 1 %}
    {% set comptvalid = app.request.get('comptvalid')+1 %}   
{% endif %} 
{#  case of CREATE / new: valid mode passed in url parameter? valid = 1 #}
{% if (app.request.query.get('valid') is defined and app.request.query.get('valid') == '1' )%}
    {% set flagvalid = 1 %} 
    {% set backbutton = 0 %}
    {% set comptvalid = 1 %}
{% endif %}  
{#  case of a change of language: language passed in parameter of url? language = switch #}
{% if (app.request.query.get('langage') is defined and app.request.query.get('langage') != '' )%}
    {% set backbutton = 0 %} 
    {% set comptvalid = 1 %}
{% endif %} 


{% block titlepage %}  
    <div class="page-title">
      <div class="title_left">
        <h1>
            {% if  flagvalid != 0  %} <i class="glyphicon glyphicon-ok"></i>  {% endif %}
            {{['title.',entityname ]|join|trans}}
        </h1>
      </div>
      <div class="title_right">
      </div>
    </div>            
    <div class="clearfix"></div>
{% endblock %}   

{% block body %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">           
        <div class="x_content">   
            {# {{dump(flagvalid)}} {{dump(backbutton)}} {{dump(comptvalid)}} 
             {% if ( idFk is defined and  nameFk is defined)%}  {{dump(idFk)}} {{dump(nameFk)}}  {% endif %}
            #}
          <br />
            {% set dateNow = "now"|date('Y-m-d H:i:s',timezone="Europe/Paris")  %}
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <input id="comptvalid" name="comptvalid" type="hidden" value="{{comptvalid}}">
            {% if edit_form.userCre and edit_form.userCre.vars.value is empty and app.user.id is defined %}{{ form_widget(edit_form.userCre, {'value' : app.user.id  }) }}{% endif %}
            {% if edit_form.userMaj and app.user.id is defined %}{{ form_widget(edit_form.userMaj, {'value' : app.user.id  }) }}{% endif %}           
            {% if edit_form.dateMaj %}{{ form_widget(edit_form.dateMaj, {'value' : dateNow ,'attr': {'style': 'display:none '} }) }}{% endif %}
            {% if edit_form.dateCre and edit_form.dateCre.vars.value is empty  %} 
                {{ form_widget(edit_form.dateCre, {'value' : dateNow ,'attr': {'style': 'display:none '} }) }}
                {% else %}
                {{ form_widget(edit_form.dateCre, {'attr': {'style': 'display:none '} }) }}
            {% endif %} 
            {% if nameFk is defined and action == 'new' and formNameFk %}  {{  form_row( attribute(edit_form, nameFk), {'value' : idFk  } ) }} {% endif %}
            {{ form_widget(edit_form) }} 
            </br>
            <div class="clearfix"></div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">                 
                 <button type="submit" class="btn btn-round btn-success " value="Create" >{{'buton.Valid'|trans}}</button> 
                 {% if ( backbutton == 0 )%} {# cas d une validation en mode CREATE #}
                     <a href="{{ path_route_index }}" class="btn btn-round btn-primary">{{'buton.BackToTheList'|trans}}</a> 
                 {% else %} {# case of mode Edit /edit  #}
                    <a href="#" onclick="window.history.go(-{{comptvalid}});return false;" class="btn btn-round btn-primary  ">{{'buton.BackToTheList'|trans}}</a>
                 {% endif %}
                </div>
            </div>               
        {{ form_end(edit_form) }}
        </div>            

        </div>
      </div>
    </div>                     
{% endblock %}


{% block scripts %}
<script type="text/javascript">     
    var addButon = {
    "Add a SamplingMethod":"{{'buton.Add a SamplingMethod'|trans}}",
    "Add a Fixateur":"{{'buton.Add a Fixateur'|trans}}",
    "Add a Programme":"{{'buton.Add a Programme'|trans}}",
    "Add a new Programme":"{{'buton.Add a new Programme'|trans}}",
    "Add a Personne":"{{'buton.Add a Personne'|trans}}",
    "Add a new Personne":"{{'buton.Add a new Personne'|trans}}",
    "Add a ACibler":"{{'buton.Add a ACibler'|trans}}",
    "Add a EspeceIdentifiee":"{{'buton.Add a EspeceIdentifiee'|trans}}",
    "Add a CompositionLotMateriel":"{{'buton.Add a CompositionLotMateriel'|trans}}",
    "Add a Source":"{{'buton.Add a Source'|trans}}",
    "Add a Chromatogramme":"{{'buton.Add a Chromatogramme'|trans}}",
    };
</script>

{{ parent() }}

{% endblock %}
