{% extends 'base.html.twig' %}

{% block link %}
    {# initialise la variable entityname à partir du nom de la route : 'importfilesentityname_index'  #}  
    {% set route = app.request.attributes.get('_route') %}
    {% set route_entity_index = route[11:] %}
    {% set entityname = route_entity_index|split('_')[0] %}    
    {# cas particulier des autres imports/outils metiers #}  
    {% if route_entity_index == 'lotmaterielpublie_index' or route_entity_index == 'sqcassembleepublie_index' %} 
       {% set route_entity_index = 'source_index' %}
       {% set entityname = 'source' %}
    {% endif %}
    {% if route_entity_index == 'lotmaterielrange_index' or route_entity_index == 'lotmaterieldeplace_index' %} 
       {% set route_entity_index = 'boite_index' %}
       {% set entityname = 'boite' %}
       {% set href =  path(route_entity_index,{'typeBoite':'LOT'})  %}
    {% endif %}
    {% if route_entity_index == 'individulamerange_index' or route_entity_index == 'individulamedeplace_index' %} 
       {% set route_entity_index = 'boite_index' %}
       {% set entityname = 'boite' %}
       {% set href =  path(route_entity_index,{'typeBoite':'LAME'})  %}
    {% endif %}
    {% if route_entity_index == 'adnrange_index' or route_entity_index == 'adndeplace_index' %} 
       {% set route_entity_index = 'boite_index' %}
       {% set entityname = 'boite' %}
       {% set href =  path(route_entity_index,{'typeBoite':'ADN'})  %}
    {% endif %}
    {% if href is not defined  %} 
        {% set href =  path(route_entity_index)  %}
    {% endif %}
                   
    <div class="clearfix"></div>
    <br />
    <div class="row">

        <div class="col-lg-4">
            <div class="input-group" role="group">       
                <div class="input-group-btn" role="group">  
                   <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'import.liste'|trans}}<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesstation_index') }}">{{'import.station'|trans}}</a> <br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilescollecte_index') }}">{{'import.collecte'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfileslotmateriel_index') }}">{{'import.lotmateriel'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesindividu_index') }}">{{'import.individu'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesindividulame_index') }}">{{'import.individulame'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfileslotmaterielext_index') }}">{{'import.lotmaterielext'|trans}}</a><br />
                       <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesadn_index') }}">{{'import.adn'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilespcr_index') }}">{{'import.pcr'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfileschromatogramme_index') }}">{{'import.chromatogramme'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilespcrchromato_index') }}">{{'import.pcrchromato'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilessequenceassemblee_index') }}">{{'import.sequenceassemblee'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilessequenceassembleeext_index') }}">{{'import.sequenceassembleeext'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesmotu_index') }}">{{'import.motu'|trans}}</a><br />
                         <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfileslotmaterielrange_index') }}">{{'import.boite.lotmaterielrange'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesindividulamerange_index') }}">{{'import.boite.individulamerange'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilesadnrange_index') }}">{{'import.boite.adnrange'|trans}}</a><br />
                        <i class="fa fa-arrow-circle-o-right"> </i> 
                            <a href="{{ path('importfilessource_index') }}">{{'import.source'|trans}}</a><br />
                    </ul>         
                </div>

                <div class="input-group-btn" role="group"> 
 
                <a href="{{ href}}" class="btn  btn-primary" type="button" role="button">{{['buton.Back to the list of ',entityname]|join|trans}}</a> 
                    
                </div>
            </div> 

        </div> 


    </div>
{% endblock %}