{% extends 'base.html.twig' %}

    {# initialise la variable nameOfEntity à partir de la variable gloable _controller: '~/Controller/NameOfEntityController::indexAction' #}
    {% set Urlcontroller = app.request.attributes.get('_controller') %}
    {% set controllerInArray = Urlcontroller|split('Controller') %}
    {% set controllerName = controllerInArray[1][1:] %}
    {% set nameOfEntity = [controllerName[:1]|lower, controllerName[1:]]|join  %}
    {# initialise la variable entityname à partir de la variable globale _route : 'entityname_index' #}
    {% set route = app.request.attributes.get('_route') %}
    {% set entityname = route|split('_')[0] %}
    {% set actioncontroller = route|split('_')[1] %}
    {# initialise les routes : 'importfilesentityname_index' et entityname_new #}
    {% set route_index =  [entityname, '_index']|join  %}
    {% set route_importfiles =  ['importfiles', entityname, '_index']|join  %}
    {% set route_new =  [entityname, '_new']|join  %} 
    {% set route_indexjson =  [entityname, '_indexjson']|join  %}
    {% if app.request.query.get('idFk') is defined and  app.request.query.get('idFk') != '' %} 
        {% set varUrl_idFk =  app.request.query.get('idFk')  %}
    {% else %}
        {% set varUrl_idFk = 0 %}
    {% endif %}    
    {% if app.request.query.get('nameFk') is defined and  app.request.query.get('nameFk') != '' %} 
        {% set varUrl_nameFk =  app.request.query.get('nameFk')  %}
    {% else %}
        {% set varUrl_nameFk = '' %}
    {% endif %}
    {% if app.request.query.get('typeBoite') is defined and  app.request.query.get('typeBoite') != '' %} 
        {% set varUrl_typeBoite =  app.request.query.get('typeBoite')  %}
    {% else %}
        {% set varUrl_typeBoite = '' %}
    {% endif %} 
    {% set titleEntityName =  ['title.',entityname]|join  %} 


{% block titlepage %}
    <h1>{{['title.',entityname ]|join|trans}}</h1>
{% endblock %}   


{% block action %}
{# gestion des parametres d'url #}
        {{ parent() }}
        <a href="{{ path(route_index) }}" class="btn btn-primary btn-sm" role="button">{{'buton.showAllRecord'|trans}}</a>
        {% if varUrl_nameFk is defined and  varUrl_nameFk != '' %} 
            <a href="{{ path( route_new ) }}?nameFk={{varUrl_nameFk}}&idFk={{varUrl_idFk}}" class="btn btn-info btn-sm" role="button">{{['buton.New',entityname|capitalize]|join|trans}}</a>  
         {% else %}
             <a href="{{ path( route_new ) }}" class="btn btn-info btn-sm" role="button">{{['buton.New',entityname|capitalize]|join|trans}}</a> 
        {% endif %}
{% endblock %}   

{% block scripts %}  
{{ parent() }}   
{# affichage du message d'erreur sur Delete si il existe des enregistrements liés #}
{% if exception_message is defined %} 
                {% if  varUrl_typeBoite != ''  %} 
                    <script type="text/javascript"> alert("{{exception_message|raw}}"); window.location = "http://" + location.hostname + "{{path(route_index, {'typeBoite':varUrl_typeBoite})}}";</script> 
                {% else %} 
                    <script type="text/javascript"> alert("{{exception_message|raw}}"); window.location = "http://" + location.hostname + "{{path(route_index)}}";</script> 
                {% endif %}
{% endif %}
{# gestion de la liste bootgrid #} 
<script type="text/javascript">     
$(document).ready(function(){
    $("#grid-basic").bootgrid({
        ajax: true,
        url: "{{ path( route_indexjson ) }}",
        post: function ()
        {        
            return {
                searchPatern: "{{ app.request.query.get('searchPatern') }}",
                idFk: "{{ app.request.query.get('idFk') }}",
                typeBoite: "{{ app.request.query.get('typeBoite') }}"
            };
        },
        labels: {
            noResults: "There are no results for the selection",
            search: "{{ app.request.query.get('searchPatern') }}"
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
        },
        complete: function() {
        },
        formatters: {
            {% for link in links %}
                {% set linkname =  ['link',link|capitalize]|join  %}
                {% set linknameFk =  [linkname,'Fk']|join  %}
                {% set link_tabname =  link|split('_')[0]  %}
                {% set link_index =  [link_tabname,'_index']|join  %}
                {% set link_new=  [link_tabname,'_new']|join  %}                   
            "{{linkname}}" : function(column, row, value)
            {   
                if (row.{{linkname}} !== undefined && row.{{linkname}} != '') {
                    {# Match integer #}
                    var is_num = row.{{linkname}};
                    is_num = is_num.match(/^\d+$/);
                    if( is_num > 0) {
                        return "<a href=\"{{ path(link_index)}}?nameFk={{nameOfEntity}}Fk&idFk=" + row.{{linkname}} + "\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-list\"></span></a>";
                    } else {
                        return "<a href=\"{{ path(link_index)}}?searchPatern="  + row.{{linkname}} + "\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-list\"></span></a>";
                    }                 
                 } else {
                   return "<a href=\"{{ path(link_new)}}?nameFk={{nameOfEntity}}Fk&idFk="  + row.id + "\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-plus-sign\"></span></a>";
                 }
            },
            {% endfor %}

            "show": function(column, row, value)
            {   
                 if ( '{{varUrl_typeBoite}}' != '' ) {
                    return "<a href=\""  + row.id + "?typeBoite={{varUrl_typeBoite}}\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-eye-open\"></span></a>";
                 } else {
                    return "<a href=\""  + row.id + "\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-eye-open\"></span></a>";
                }
            },
            "edit": function(column, row, value)
            {
                 if ( {{varUrl_idFk}} != 0 ) {
                    return "<a href=\""  + row.id + "/edit?idFk={{varUrl_idFk}}\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-edit\"></span></a>";                  
                 } 
                 if ( '{{varUrl_typeBoite}}' != '' ) {
                    return "<a href=\""  + row.id + "/edit?typeBoite={{varUrl_typeBoite}}\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-edit\"></span></a>";                  
                 } 
                 if ( {{varUrl_idFk}} == 0 && '{{varUrl_typeBoite}}' == '' ) {
                   return "<a href=\""  + row.id + "/edit\" class=\"btn btn-sm\" ><span class=\"glyphicon glyphicon-edit\"></span></a>";
                 }               
            },
            "delete": function(column, row, value)
            {
                if ( '{{varUrl_typeBoite}}' != '' ) {
                   return "<form  onsubmit=\"return confirm('Do you really want to delete this record?');\" name=\"form\" method=\"post\" action=\"" + row.id + "?typeBoite={{varUrl_typeBoite}}\"><input type=\"hidden\" name=\"token\" value=\"{{ csrf_token('delete-item') }}\" /><input name=\"_method\" value=\"DELETE\" type=\"hidden\" /> <div class=\"btn btn-sm\"><input type=\"image\" src=\"{{ asset('e3s/images/trash.png') }}\" width=\"15\" height=\"15\" alt=\"delete\" ></input></div> </form>";                 
                } else {
                    return "<form  onsubmit=\"return confirm('Do you really want to delete this record?');\" name=\"form\" method=\"post\" action=\"" + row.id + "\"><input type=\"hidden\" name=\"token\" value=\"{{ csrf_token('delete-item') }}\" /><input name=\"_method\" value=\"DELETE\" type=\"hidden\" /> <div class=\"btn btn-sm\"><input type=\"image\" src=\"{{ asset('e3s/images/trash.png') }}\" width=\"15\" height=\"15\" alt=\"delete\" ></input></div> </form>";
                }
            }
        }
    }); 
 }); 
 </script>

{% endblock %}
