{% extends 'edit.html.twig' %}

{# EDIT : EXTERNAL MATERIAL #}

{% block body %}
    
    {{ parent() }}   
           
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">{{'title.Personne'|trans}}</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'buton.Close'|trans}}</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  
// Person Modal Actions
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_lotmaterielext_lotMaterielExtEstRealisePars');
                    var index = getLastIndex('bbees_e3sbundle_lotmaterielext_lotMaterielExtEstRealisePars');
                    callAjax(form, $container, index);			
	}); 

        // Collection lotMaterielExtEstReferenceDanss (Source)
        addCollectionButtons('bbees_e3sbundle_lotmaterielext_lotMaterielExtEstReferenceDanss',"Source",false,true);           
        // Collection lotMaterielEstRealisePars (Personne)
        addCollectionButtons('bbees_e3sbundle_lotmaterielext_lotMaterielExtEstRealisePars',"Personne",true); 
        
        // Collection especeIdentifiees (EspeceIdentifiee)  
        var $container = $('div#bbees_e3sbundle_lotmaterielext_especeIdentifiees');               
        //addArrayCollectionButtonEmbed('bbees_e3sbundle_lotmaterielext_especeIdentifiees','dateIdentification','EspeceIdentifiee',false,true,'estIdentifiePars','Personne'); 
        addCollectionButtonsEmbed('bbees_e3sbundle_lotmaterielext_especeIdentifiees','dateIdentification','EspeceIdentifiee',false,true,'estIdentifiePars','Personne'); 

        
    });
 </script>
 
<script type="text/javascript">  
// Form actions
$(document).ready(function(){
        // features of date & date_precision fields 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_lotmaterielext_dateCreationLotMaterielExt').change(function (e) { 
            dateFormat('bbees_e3sbundle_lotmaterielext', 'dateCreationLotMaterielExt', message);
        }) 
        $('[for^=bbees_e3sbundle_lotmaterielext_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_lotmaterielext', 'dateCreationLotMaterielExt', message);
        }) 
        $('#bbees_e3sbundle_lotmaterielext_especeIdentifiees_0_dateIdentification').change(function (e) { 
            dateFormat('bbees_e3sbundle_lotmaterielext_especeIdentifiees_0', 'dateIdentification', message);
        }) 
        $('[for^=bbees_e3sbundle_lotmaterielext_especeIdentifiees_0_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_lotmaterielext_especeIdentifiees_0', 'dateIdentification', message);
        })
  
        {% if action == 'edit'  %}  
            // Adding a Back to Button to collecte
            addBackToRelatedRecord('lotmaterielext', 'collecte', "{{'buton.Back to collecte'|trans}}");
            // General action on form: form lock (default) / user role: app.user ...
            {% if not is_granted('ROLE_ADMIN') %}  
                // Locking fields: Station; Code collecte; Date collecte
                $('#bbees_e3sbundle_lotmaterielext_collecteFk').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_lotmaterielext"]',function(ev){
                    // Unlocking fields to allow registration
                    $('#bbees_e3sbundle_lotmaterielext_collecteFk').attr("disabled", false); 
                 }); 
                $('#bbees_e3sbundle_lotmaterielext_codeLotMaterielExt').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_lotmaterielext"]',function(ev){
                    $('#bbees_e3sbundle_lotmaterielext_codeLotMaterielExt').attr("disabled", false); 
                });                 
            {% endif %}
        {% endif %}            
        {% if action == 'new'  %} 
            // General action on form: form lock (default) / user role: app.user ...
            $('#bbees_e3sbundle_lotmaterielext_codeLotMaterielExt').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_lotmaterielext"]',function(ev){
                // Unlocking fields to allow registration
                $('#bbees_e3sbundle_lotmaterielext_codeLotMaterielExt').attr("disabled", false); 
             });         
            // specific features: automatically generate codeLot
            setCodeLot();
            $('#bbees_e3sbundle_lotmaterielext_especeIdentifiees').change(function (e) { setCodeLot();})
            $('#bbees_e3sbundle_lotmaterielext_collecteFk').change(function (e) { setCodeLot();})
            // function that automatically generates the codeLot
            function setCodeLot() {
                var code = '';
                var RefTaxonSelected = $('#bbees_e3sbundle_lotmaterielext_especeIdentifiees_0_referentielTaxonFk option:selected').text();
                var codeCollecte = $('#bbees_e3sbundle_lotmaterielext_collecteFk option:selected').text();
                if (RefTaxonSelected == '') RefTaxonSelected = "{{'Choose a Taxon'|trans}}" ;
                code = RefTaxonSelected + '|' + codeCollecte ;
                $('#bbees_e3sbundle_lotmaterielext_codeLotMaterielExt').val(code);
            }
        {% endif %}

    });
</script>

{% endblock %}
