{% extends 'modal.html.twig' %}

{% if (type_template_csv == 'Station') %} {%set formSubmit = form.submitStation %} {% endif %}
{% if (type_template_csv == 'Pays') %} {%set formSubmit = form.submitPays %} {% endif %}
{% if (type_template_csv == 'Collecte') %} {%set formSubmit = form.submitCollecte %} {% endif %}
{% if (type_template_csv == 'Voc') %} {%set formSubmit = form.submitVoc %} {% endif %}
{%set nomSubmit = 'form.submit'~type_template_csv %}

{% block body %}

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        
          <div class="x_panel">
            
            <div class="x_content">                      
              <br />
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">Selectionnez le fichier CSV à importer
                    <br>
                    <small class="text-navy">! l'encodage  doit être en UTF-8 
                        <br>! le délimiteur d'enregistrement doit être un "point virgule"
                        <br>! les guillemets doivent délimter les enregistrements
                    </small>
                  </label>
                    {{ form_start(form , { 'attr': {'class': 'form-horizontal form-label-left'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">

                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                      {{ form_widget(form.fichier) }}
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                      &nbsp;
                    </div>
                     <div class="col-md-6 col-sm-6 col-xs-12 ">
                        {{ form_widget( formSubmit , { 'attr': {'class': 'btn btn-success'} }) }} 
                      </div>
                    </div>
   
                    <div class="ln_solid"></div>
                    <div>
                        {% if message is not empty %} {{message|raw}} {% endif %}
                    </div>
                    {{ form_end(form) }}
                 </div>
    
             </div>            
          </div>
                                
      </div>
    </div>

{% endblock %}
