{% extends 'base.html.twig' %}

{% block link %}
    <div class="clearfix"></div>
    <br />
    <div>
    <ul>
        <li>
            <a href="{{ path('importfilesstation_index') }}">Back to Import Station</a>
        </li>
        <li>
            <a href="{{ path('importfilescollecte_index') }}">Back to Import Collecte</a>
        </li>
        <li>
            <a href="{{ path('importfileslotmateriel_index') }}">Back to Import Lot Materiel</a>
        </li>
         <li>
            <a href="{{ path('importfilesindividulame_index') }}">Back to Import Individu & Lame</a>
        </li>
        <li>
            <a href="{{ path('importfilesadn_index') }}">Back to Import Adn</a>
        </li>
        <li>
            <a href="{{ path('importfilespcrchromato_index') }}">Back to Import Pcr-Chromato</a>
        </li>
        <li>
            <a href="{{ path('importfilessequenceassemblee_index') }}">Back to Import Sequence assemblee</a>
        </li>
        <li>
            <a href="{{ path('importfilessequenceassembleeext_index') }}">Back to Import Sequence assemblee Externe</a>
        </li>
        <li>
            <a href="{{ path('importfilesmotu_index') }}">Back to Import Motu</a>
        </li>
        <li>
            <a href="{{ path('importfilelotmaterielext_index') }}">Back to Import Lot materiel Externe</a>
        </li>
    </ul>
    </div>
{% endblock %}