{% extends 'base.html.twig' %}
{% block helpbutton %}{% endblock %}

{% block headincl %}
  <!-- Plotly -->
  <script src="{{ asset('e3s/vendors/plotly.js/plotly-latest.min.js') }}"></script>
{% endblock %}

{% block titlepage %}
  <div class="page-title">

    <div class="title_right" style="width:auto">
      <h1>
        <!-- <img rel="icon" src="{{ asset('e3s/images/logo-BBEES.png') }}" type="image" width="50" height="50" alt="Unité Bases
        de données sur la Biodiversité, Écologie, Environnement et Sociétés (BBEES), Muséum national d'Histoire naturelle, CNRS
        " /> -->
        <i>
          {{'Dashboard.Gene Occurence et Taxa en Taxonomie Integrative'|trans}}
        </i>
      </h1>
    </div>

  </div>
  <div class="clearfix"></div>
{% endblock %}

{% block body %}

  <div class="row">

    <div class="col-md-5 col-sm-5 col-xs-15">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{'Dashboard.Distribution des stations'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="geo-container">
            <div id="station-geo-map" style="width:100%"></div>
            <div class="geo-overlay">
              <center>
                <i class="fa fa-spinner fa-spin fa-4x"></i>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-6">
      <div class="x_panel  overflow_hidden">
        <div class="x_title">
          <h2>DNA sequence</h2>
          <ul class="nav navbar-right panel_toolbox"></ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <img
            rel="icon"
            src="{{ asset('e3s/images/sequence_adn.jpg') }}"
            type="image"
            height="500"
            alt="sequence adn"
            align="middle"/>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-15">
      <div class="x_panel ">
        <div class="x_title">
          <h2>Proaselus Valdensis</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <img
            rel="icon"
            src="{{ asset('e3s/images/prosaelus_valdensis.jpg') }}"
            type="image"
            height="500"
            alt="prosaelus valdensis"
            align="middle"/>
        </div>
      </div>
    </div>

  </div>

  {% set NbTot = nbSequenceAssemblee + nbChromatogramme + nbPcr + nbIndividu + nbLotMateriel %}

  <div class="row">

    <div class="col-md-4 col-sm-4 col-xs-12">

      <div class="x_panel tile fixed_height_200">
        <div class="x_title">
          <h2>{{'Dashboard.Données de terrain'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbStation'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbStation }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbCollecte'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbCollecte }}</span>
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>

      <div class="x_panel tile fixed_height_200">
        <div class="x_title">
          <h2>{{'Dashboard.Données moléculaire'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbPcr'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbPcr }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbChromatogramme'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbChromatogramme }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbSequenceAssemblee'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbSequenceAssemblee }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel tile fixed_height_390">

        <div class="x_title">
          <h2>{{'Dashboard.Materiel biologique'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbLotMateriel'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbLotMateriel }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbIndividu'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbIndividu }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbIndividuLame'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbIndividuLame }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbAdn'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbAdn }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbBoite'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbBoite }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">

      <div class="x_panel tile fixed_height_200">
        <div class="x_title">
          <h2>{{'Dashboard.Hypothese espece'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbTaxon'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbTaxon }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbMotuSqcAss'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbMotuSqcAss }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbMotuSqcAssExt'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbMotuSqcAssExt }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="x_panel tile fixed_height_200">
        <div class="x_title">
          <h2>{{'Dashboard.Données de la litérature'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.LotMaterielExt'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbLotMaterielExt }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbSequenceAssembleeExt'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbSequenceAssembleeExt }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="widget_summary">
            <div class="w_left w_55">
              <span>{{'Dashboard.nbSource'|trans}}</span>
            </div>
            <div class="w_center w_25">
              <div class="progress">
                <div class="progress-bar bg-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="w_right w_20">
              <span>{{ nbSource }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{'Dashboard.Tools'|trans}}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </li>
            <li>
              <a class="close-link">
                <i class="fa fa-close"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">

            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesstation_index') }}">{{'import.station'|trans}}</a>
            <br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilescollecte_index') }}">{{'import.collecte'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfileslotmateriel_index') }}">{{'import.lotmateriel'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesindividu_index') }}">{{'import.individu'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesindividulame_index') }}">{{'import.individulame'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfileslotmaterielext_index') }}">{{'import.lotmaterielext'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesadn_index') }}">{{'import.adn'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilespcr_index') }}">{{'import.pcr'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfileschromatogramme_index') }}">{{'import.chromatogramme'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilespcrchromato_index') }}">{{'import.pcrchromato'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilessequenceassemblee_index') }}">{{'import.sequenceassemblee'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilessequenceassembleeext_index') }}">{{'import.sequenceassembleeext'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesmotu_index') }}">{{'import.motu'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilessource_index') }}">{{'import.source'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfileslotmaterielrange_index') }}">{{'import.boite.lotmaterielrange'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesindividulamerange_index') }}">{{'import.boite.individulamerange'|trans}}</a><br/>
            <i class="fa fa-arrow-circle-o-right"></i>
            <a href="{{ path('importfilesadnrange_index') }}">{{'import.boite.adnrange'|trans}}</a><br/>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="x_panel">
            <div class="x_title">
              <h2>{{'Dashboard.LastUpdate'|trans}}
                <small></small>
              </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li>
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#">Toute</a>
                    </li>
                    <li>
                      <a href="#">Station</a>
                    </li>
                    <li>
                      <a href="#">Collecte</a>
                    </li>
                    <li>
                      <a href="#">Lot materiel</a>
                    </li>
                    <li>
                      <a href="#">...</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="close-link">
                    <i class="fa fa-close"></i>
                  </a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">

                <ul class="list-unstyled timeline widget">
                  <li>
                    <div class="block">
                      <div class="block_content">
                        <h2 class="title">
                          <a>Collecte</a>
                        </h2>

                        <div class="byline">
                          <span>13 hours ago</span>
                          by
                          <a>F Malard</a>
                        </div>
                        <p class="excerpt">
                          <b>code collecte</b>
                          ABOIM_201504 -
                          <b>Code station</b>
                          ABOIM :
                          <a href="/edit" class="btn btn-sm">
                            <span class="fa fa-eye fa-fw"></span></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <div class="block_content">
                        <h2 class="title">
                          <a>Lot Materiel</a>
                        </h2>
                        <div class="byline">
                          <span>13 hours ago</span>
                          by
                          <a>F Malard</a>
                        </div>
                        <p class="excerpt">
                          <b>code collecte</b>
                          ABOIM_201504 -
                          <b>Code lot materiel</b>
                          PROASELLUS_SP|102K_201107 :
                          <a href="/edit" class="btn btn-sm">
                            <span class="fa fa-eye fa-fw"></span></a>
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <div class="block_content">
                        <h2 class="title">
                          <a>Adn</a>
                        </h2>
                        <div class="byline">
                          <span>15 hours ago</span>
                          by
                          <a>L Konecky</a>
                        </div>
                        <p class="excerpt">
                          <b>code adn</b>
                          AlexaPcavSauve4 -
                          <b>Code ind biomol</b>
                          Pcavaticus|SAUVEGAR_000000_AS4 :
                          <a href="/edit" class="btn btn-sm">
                            <span class="fa fa-eye fa-fw"></span></a>
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row"></div>

    </div>
  </div>

  <div class="row">
    <img rel="icon" src="{{ asset('e3s/images/logo-LEHNA.png') }}" type="image" width="75" height="75" alt="LEHNA"/>
    <span class="img-thumbnail">LEHNA : UMR CNRS 5023 Ecologie des Hydrosystèmes Naturels et Anthropisés,<br>
      Université Lyon 1 , ENTPE, CNRS, Université Lyon</span>
    <img
      rel="icon"
      src="{{ asset('e3s/images/logo-BBEES.png') }}"
      type="image"
      width="75"
      height="75"
      alt="Unité Bases de données sur la Biodiversité, Écologie, Environnement et Sociétés (BBEES), Muséum national d'Histoire naturelle, CNRS "/>
    <span class="img-thumbnail">BBEES : Unité Bases de données sur laBiodiversité, Écologie, Environnement et Sociétés<br>
      Muséum national d'Histoire naturelle, CNRS ; CP55, 57 rue Cuvier 75005 Paris, France</span>
    <img rel="icon" src="{{ asset('e3s/images/logo-CNRS.png') }}" type="image" width="75" height="75" alt="LEHNA"/>
    <img rel="icon" src="{{ asset('e3s/images/logo-LYON1.png') }}" type="image" width="75" height="75" alt="LEHNA"/>
    <img rel="icon" src="{{ asset('e3s/images/logo-MNHN.png') }}" type="image" width="75" height="75" alt="LEHNA"/>
  </div>

{% endblock %}

{% block scripts %}
  {{ parent() }}

  <script type="text/javascript">

    $(document).ready(function () {

      var latitude = '45,0';
      var longitude = '5,0';
      //var data = $(this).serialize();
      var data = {
        'latitude': latitude,
        'longitude': longitude
      };
      $.ajax({
        type: 'POST',
        data: data,
        url: "{{ path('mapstations') }}",
        error: function (jqXHR, textStatus, errorThrown) {
          alert('error ajax request : ' + errorThrown);
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        },
        beforeSend: function (htmlResponse) {
          $(".geo-overlay").show();
        },
        success: function (response) {
          $(".geo-overlay").hide();
          gd = stationsMap(response.stations, latitude, longitude);
        }
      });

    });
  </script>
{% endblock %}