{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sequenceassembleeestrealisepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sequenceAssembleeEstRealisePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if sequenceAssembleeEstRealisePar.dateCre %}{{ sequenceAssembleeEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if sequenceAssembleeEstRealisePar.dateMaj %}{{ sequenceAssembleeEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ sequenceAssembleeEstRealisePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ sequenceAssembleeEstRealisePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sequenceassembleeestrealisepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sequenceassembleeestrealisepar_edit', { 'id': sequenceAssembleeEstRealisePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
