{% extends 'edit.html.twig' %}

{% block action %}
	{% set path_route_index = path(route_index,{typeBoite: boite.getTypeBoiteVocFk.code}) %}
	{{parent()}}
{% endblock %}

{# EDIT : BOX #}
{% block page_title %}
	<h1>
		{{('core.' ~ entityname ~ boite.getTypeBoiteVocFk.code|default(''))|trans(domain="sections")}}
		{% if flagvalid != 0 %}
			<i class="fas fa-check-circle"></i>
		{% endif %}
	</h1>
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{encore_entry_script_tags('box-form')}}
{% endblock %}
