{% extends 'edit.html.twig' %}

{% block action %}
	{% set path_route_index = path(route_index,{typeBoite: app.request.query.get('typeBoite')|default(null)}) %}
	{{parent()}}
{% endblock %}
{# EDIT : BOX #}
{% block page_title %}
	<h1>
		{{('core.' ~ entityname ~ app.request.query.get('typeBoite')|default(''))|trans(domain="sections")}}
	</h1>
{% endblock %}


{% block body %}

	{{ parent() }}

{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{encore_entry_script_tags('box-form')}}
{% endblock %}
