{% extends 'index.html.twig' %}

{#  BOX #}

{% set links =  [] %}

{% set box_type = app.request.query.get('typeBoite')|default(null) %}

{% block page_title %}
	<h1>
		{{('core.' ~ entityname ~ box_type)|trans({}, 'sections')}}
	</h1>
{% endblock %}

{% block action %}
	<a href="{{ path(route_index) }}?typeBoite={{box_type}}" class="btn btn-primary btn-sm" role="button">
		<i class="fas fa-list"></i>
		{{'button.showAllRecord'|trans}}
	</a>

	{% if is_granted('ROLE_COLLABORATION') %}

		<a href="{{ path( route_new ) }}?typeBoite={{box_type}}" class="btn btn-success btn-sm" role="button">
			<i class="fas fa-plus"></i>
			{{ ('button.New' ~ entityname|capitalize)|trans }}
		</a>

		<button class="btn btn-light border btn-sm" id="export" data-export="export" data-toggle="tooltip" data-align="right" title="{{'button.exportToCSV-title'|trans}}">
			<i class="fas fa-file-export"></i>
			{{'button.exportToCSV'|trans}}
		</button>

	{% else %}

		<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
			<i class="fas fa-plus"></i>
			{{ ('button.New' ~ entityname|capitalize)|trans }}
		</a>

	{% endif %}

	{% if box_type != NULL %}
		<div class="btn-group btn-group-sm">
			<div class="input-group-prepend">
				<i class="input-group-text fas fa-upload"></i>
			</div>
			{% if box_type == 'LOT' %}
				{% if is_granted('ROLE_COLLABORATION') %}
					<a href="{{ path( 'importfilesinternal_lot_range_index' ) }}" class="btn btn-light border btn-sm" role="button">
						{{'button.Import lot materiel range'|trans}}
					</a>
				{% else %}
					<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
						{{'button.Import lot materiel range'|trans}}
					</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path( 'importfilesinternal_lot_deplace_index' ) }}" class="btn btn-light border btn-sm" role="button">
						{{'button.Import lot materiel deplace'|trans}}
					</a>
				{% else %}
					<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
						{{'button.Import lot materiel deplace'|trans}}
					</a>
				{% endif %}
			{% endif %}
			{% if box_type == 'LAME' %}

				{% if is_granted('ROLE_COLLABORATION') %}
					<a href="{{ path( 'importfilessliderange_index' ) }}" class="btn btn-light border btn-sm" role="button">
						{{'button.Import slide range'|trans}}
					</a>
				{% else %}
					<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
						{{'button.Import slide range'|trans}}
					</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path( 'importfilesslidedeplace_index' ) }}" class="btn btn-light border btn-sm" role="button">
						{{'button.Import slide deplace'|trans}}
					</a>
				{% else %}
					<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
						{{'button.Import slide deplace'|trans}}
					</a>
				{% endif %}
			{% endif %}
			{% if box_type == 'ADN' %}
				{% if is_granted('ROLE_COLLABORATION') %}
					<a href="{{ path( 'importfilesadnrange_index' ) }}" class="btn btn-light border btn-sm" role="button">
						{{'button.Import adn range'|trans}}
					</a>
				{% else %}
					<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
						{{'button.Import adn range'|trans}}
					</a>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path( 'importfilesadndeplace_index' ) }}" class="btn btn-light border btn-sm" role="button">
						{{'button.Import adn deplace'|trans}}
					</a>
				{% else %}
					<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
						{{'button.Import adn deplace'|trans}}
					</a>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}


{% block body %}
	<div class="table-responsive">
		<table id="grid-basic" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="boite.id" data-type="numeric" data-visible="false">
						Id
					</th>
					<th data-column-id="boite.codeBoite" data-sortable="true">
						{{'Code boite'|trans}}
					</th>
					<th
						data-column-id="vocCodeCollection.code"
						data-sortable="true"
						data-visible="true">
						{{'Code collection voc fk'|trans}}
					</th>
					<th data-column-id="boite.libelleBoite" data-sortable="true">
						{{'Libelle boite'|trans}}
					</th>
					<th
						data-column-id="vocCodeCollection.libelle"
						data-sortable="true"
						data-visible="false">
						{{'Libelle collection'|trans}}
					</th>
					<th data-column-id="boite.dateMaj" data-width="100">
						{{'list.Date maj'|trans}}
					</th>
					<th data-column-id="boite.dateCre" data-width="100" data-visible="false">
						{{'list.Date cre'|trans}}
					</th>
					<th data-column-id="boite.userCre" data-width="10" data-visible="false">
						{{'list.User cre'|trans}}
					</th>
					<th data-column-id="boite.userMaj" data-width="10" data-visible="false">
						{{'list.User maj'|trans}}
					</th>
					<th
						data-column-id="show"
						data-formatter="show"
						data-sortable="false"
						data-width="20">
						{{'list.show'|trans}}
					</th>
					<th
						data-column-id="edit"
						data-formatter="edit"
						data-sortable="false"
						data-width="20">
						{{'list.edit'|trans}}
					</th>
					<th
						data-column-id="delete"
						data-formatter="delete"
						data-sortable="false"
						data-width="20">
						{{'list.delete'|trans}}
					</th>
				</tr>
			</thead>
		</table>
	</div>
{% endblock %}
