{% extends 'base.html.twig' %}

{% block body %}
    <h1>Motuestgenerepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ motuEstGenerePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if motuEstGenerePar.dateCre %}{{ motuEstGenerePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if motuEstGenerePar.dateMaj %}{{ motuEstGenerePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ motuEstGenerePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ motuEstGenerePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('motuestgenerepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('motuestgenerepar_edit', { 'id': motuEstGenerePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
