{% extends 'edit.html.twig' %}

{# EDIT : CHROMATOGRAM #}

{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.pcrFk is not null %}
		<a
			href="/{{app.request.locale}}/pcr/{{edit_form.vars.data.pcrFk.id}}"
			class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to pcr'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{encore_entry_script_tags("chromato-form")}}
{% endblock %}
