{% extends 'index.html.twig' %}

{# INDEX : CHROMATOGRAM #}

{# initialize the array of linked entities ([entity1, entity2 ...]) to which we wish to make a link-shortcuts
1) The table of results should include a collumn of the type: <th data-column-id = "linkEntity" data-formatter = "linkEntity" data-sortable = "false"> Col. </ Th>
2) the controller will have to return in the table rows the colloids of the type: "linkEntity1" => "patern1", "linkeEntity2" => "patern2" ... #}
{% set links = ['internal_sequence'] %}

	{% block action %}
	{{ parent() }}
		{% if is_granted('ROLE_COLLABORATION') %}
			<a href="{{ path(route_importfiles) }}" class="btn btn-light border btn-sm" role="button"> <i class="fas fa-upload"></i>
			{{ ['button.Import', entityname|capitalize]|join|trans }}
		</a>
	{% else %}
		<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
			<i class="fas fa-upload"></i>
			{{ ['button.Import', entityname|capitalize]|join|trans }}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{# definition of collones to display
					    RQ! for sortable columns, suffix the field names with the names of tables tableName.fieldName #}
	<div class="table-responsive">
		<table id="grid-basic" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="chromato.id" data-type="numeric" data-visible="false">
						Id
					</th>
					<th data-column-id="sp.specimen_molecular_code" data-sortable="true">
						{{ 'Molecular code'|trans }}
					</th>
					<th data-column-id="dna.dna_code" data-sortable="true" data-visible="true">
						{{ 'Code adn'|trans }}
					</th>
					<th
						data-column-id="chromato.chromatogram_code"
						data-sortable="true"
						data-visible="true">
						{{ 'Code chromato'|trans }}
					</th>
					<th data-column-id="code_voc_gene" data-sortable="true">
						{{ 'Gene voc fk'|trans }}
					</th>
					<th data-column-id="pcr.pcr_code" data-sortable="true" data-visible="false">
						{{ 'Code pcr'|trans }}
					</th>
					<th data-column-id="pcr.pcr_number" data-sortable="true" data-visible="false">
						{{ 'Num pcr'|trans }}
					</th>
					<th
						data-column-id="code_voc_chromato_quality"
						data-sortable="true"
						data-visible="true">
						{{ 'Quality voc fk'|trans }}
					</th>
					<th
						data-column-id="last_internal_sequence_code"
						data-sortable="true"
						data-visible="false">
						{{ 'list.lastCodeSeqAss'|trans }}
					</th>
					<th
						data-column-id="last_internal_sequence_status_voc"
						data-sortable="true"
						data-visible="false">
						{{ 'list.lastStatutSeqAss'|trans }}
					</th>
					<th
						data-column-id="last_internal_sequence_alignment_code"
						data-sortable="true"
						data-visible="true">
						{{ 'list.lastCodeSeqAlignement'|trans }}
					</th>
					<th
						data-column-id="last_internal_sequence_creation_date"
						data-sortable="true"
						data-visible="false">
						{{ 'list.lastDateSeqAss'|trans }}
					</th>
					<th data-column-id="chromato.date_of_update" data-width="100">
						{{ 'list.Date maj'|trans }}
					</th>
					<th
						data-column-id="chromato.date_of_creation"
						data-width="100"
						data-visible="false">
						{{ 'list.Date cre'|trans }}
					</th>
					<th
						data-column-id="user_cre.user_full_name"
						data-width="10"
						data-visible="false">
						{{ 'list.User cre'|trans }}
					</th>
					<th
						data-column-id="user_maj.user_full_name"
						data-width="10"
						data-visible="false">
						{{ 'list.User maj'|trans }}
					</th>
					<th
						data-column-id="show"
						data-formatter="show"
						data-sortable="false"
						data-width="20">
						{{ 'list.show'|trans }}
					</th>
					<th
						data-column-id="edit"
						data-formatter="edit"
						data-sortable="false"
						data-width="20">
						{{ 'list.edit'|trans }}
					</th>
					<th
						data-column-id="delete"
						data-formatter="delete"
						data-sortable="false"
						data-width="20">
						{{ 'list.delete'|trans }}
					</th>
					<th
						data-column-id="linkInternalSequence"
						data-formatter="linkInternalSequence"
						data-sortable="false"
						data-width="20">
						{{ 'list.linkInternalSequence'|trans }}
					</th>
					{# <th data-column-id="linkAssembly" data-formatter="linkAssembly" data-sortable="false" data-width="20">SA(s)</th> #}
				</tr>
			</thead>
		</table>
	</div>
{% endblock %}
