{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estfinancepars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estFinancePar in estFinancePars %}
            <tr>
                <td><a href="{{ path('estfinancepar_show', { 'id': estFinancePar.id }) }}">{{ estFinancePar.id }}</a></td>
                <td>{% if estFinancePar.dateCre %}{{ estFinancePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if estFinancePar.dateMaj %}{{ estFinancePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ estFinancePar.userCre }}</td>
                <td>{{ estFinancePar.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estfinancepar_show', { 'id': estFinancePar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estfinancepar_edit', { 'id': estFinancePar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estfinancepar_new') }}">Create a new estFinancePar</a>
        </li>
    </ul>
{% endblock %}
