{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estfinancepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estFinancePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if estFinancePar.dateCre %}{{ estFinancePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if estFinancePar.dateMaj %}{{ estFinancePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ estFinancePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ estFinancePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estfinancepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estfinancepar_edit', { 'id': estFinancePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
