{% extends 'edit.html.twig' %}

{# EDIT : PCR #}

{% block body %}
    
    {{ parent() }}   
           
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">{{'title.Personne'|trans}}</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'buton.Close'|trans}}</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  
// Personne Moadal Action spécifiques
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_pcr_pcrEstRealisePars');
                    var index = $container.find(':input').length; 
                    callAjax(form, $container, index);		
	}); 
             
        // Collection lotMaterielEstRealisePars (Personne)
        var $container = $('div#bbees_e3sbundle_pcr_pcrEstRealisePars'); 
        addArrayCollectionButton($container,"Personne",true);
        // !! A MODOFIER - NE MARCHE PAS car Personne est utilisé dans la nom de la modal également : addArrayCollectionButton($container,"{{'Personne'|trans}}",true); 

        /*
        // addArrayCollectionButton2($container,"EspeceIdentifiee",false,true, 'estIdentifiePars' , 'Personne' ); 
            /* var nb_especeIdentifiees = $container.find('[id$=_estIdentifiePars]').length;
            //alert(nb_especeIdentifiees);
            for(var i= 0; i < nb_especeIdentifiees+1; i++)
            {
                var $container = $('div#bbees_e3sbundle_lotmateriel_especeIdentifiees_'+i.toString()+'_estIdentifiePars'); 
                if ( $container !== 'undefined' && $container !== null)  addArrayCollectionButton($container,"Personne",false);
            }
        */
    });
 </script>
 
<script type="text/javascript">  
//  interface Formulaire
    $(document).ready(function(){ 
        // fonctionalités des champ date(s) & date_precision 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_pcr_datePcr').change(function (e) { 
            dateFormat('bbees_e3sbundle_pcr', 'datePcr', message);
        })
        $('[for^=bbees_e3sbundle_pcr_datePrecisionVocFk]').click(function (e) { 
             dateDateprecision('bbees_e3sbundle_pcr', 'datePcr', message);
        }) 
        {% if action == 'edit'  %}  
            // L'ajout d'un bouton Back to the adn
            addBackToRelatedRecord('pcr', 'adn', "{{'buton.Back to adn'|trans}}"); 
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            {% if not is_granted('ROLE_ADMIN') %}  
                // verouillage des champs : ADN; Code PCR; Numero PCR; Amorce PCR sens; Amorce PCR antisens
                $('#bbees_e3sbundle_pcr_adnFk').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_adnFk').attr("disabled", false); 
                 });  
                $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", false); 
                });   
                $('#bbees_e3sbundle_pcr_numPcr').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_numPcr').attr("disabled", false); 
                }); 
                $('#bbees_e3sbundle_pcr_primerPcrStartVocFk').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_primerPcrStartVocFk').attr("disabled", false); 
                }); 
                $('#bbees_e3sbundle_pcr_primerPcrEndVocFk').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_primerPcrEndVocFk').attr("disabled", false); 
                }); 
            {% endif %}
        {% endif %}
        {% if action == 'new'  %} 
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                // deverouillage des champ descativé pour permettre l enregistrement
                $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", false); 
             }); 
            // fonctionnalités spécifiques : generation automatiquement du  codePcr
            setCodePcr();
            $('#bbees_e3sbundle_pcr_adnFk').change(function (e) { setCodePcr();})
            $('#bbees_e3sbundle_pcr_primerPcrStartVocFk').change(function (e) { setCodePcr();})
            $('#bbees_e3sbundle_pcr_primerPcrEndVocFk').change(function (e) { setCodePcr();}) 
            $('#bbees_e3sbundle_pcr_numPcr').keyup(function (e) { setCodePcr();}) 
            // La fonction qui genere automatiquement le codeCollecte
            function setCodePcr() {
                var code = '';
                var adnSelected = $('#bbees_e3sbundle_pcr_adnFk option:selected').text();
                var primerPcrStartSelected = $('#bbees_e3sbundle_pcr_primerPcrStartVocFk option:selected').text();
                var primerPcrEndSelected = $('#bbees_e3sbundle_pcr_primerPcrEndVocFk option:selected').text();
                var numPcr = $('#bbees_e3sbundle_pcr_numPcr').val();
                if(numPcr == '') numPcr = "{{'Num pcr'|trans}}";
                code = adnSelected + '_' + numPcr + '_'+ primerPcrStartSelected + '_'+ primerPcrEndSelected;;
                $('#bbees_e3sbundle_pcr_codePcr').val(code);
            }
        {% endif %}         
    });
</script>

{% endblock %}