{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('spsearch/distribution') }}
{% endblock %}

{% block titlepage %}
	{% set title="queries.distribution.title" %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div id="motu-distribution-vue">
		<motu-distribution>
			<center>
				<i class="fas fa-spin fa-spinner fa-6x"></i>
			</center>
		</motu-distribution>
	</div>
{% endblock %}

{% block scripts %}

	{{ parent() }}
	{{ encore_entry_script_tags('spsearch/distribution') }}
{% endblock %}
