{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('spsearch/distribution') }}
{% endblock %}

{% block titlepage %}
	{% set title="queries.distribution.title" %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{# Formulaire #}
	{% include 'SpeciesSearch/motu-distribution/form.html.twig' %} <hr>
	<div>
		<h2 id="results-title">
			<span>
				{% trans from 'queries' %} label.resultats {% endtrans %}
			</span>
		</h2>
		{% include 'SpeciesSearch/motu-distribution/results.html.twig' with methods_list %}
	</div>
	<div id="modal-container">
		{% include 'SpeciesSearch/motu-distribution/seq.modal.html.twig' %}
	</div>
{% endblock %}

{% block scripts %}

	{{ parent() }}
	{{ encore_entry_script_tags('spsearch/distribution') }}
{% endblock %}
