{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sqcextestreferencedans list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sqcExtEstReferenceDan in sqcExtEstReferenceDans %}
            <tr>
                <td><a href="{{ path('sqcextestreferencedans_show', { 'id': sqcExtEstReferenceDan.id }) }}">{{ sqcExtEstReferenceDan.id }}</a></td>
                <td>{% if sqcExtEstReferenceDan.dateCre %}{{ sqcExtEstReferenceDan.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if sqcExtEstReferenceDan.dateMaj %}{{ sqcExtEstReferenceDan.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sqcExtEstReferenceDan.userCre }}</td>
                <td>{{ sqcExtEstReferenceDan.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sqcextestreferencedans_show', { 'id': sqcExtEstReferenceDan.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sqcextestreferencedans_edit', { 'id': sqcExtEstReferenceDan.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sqcextestreferencedans_new') }}">Create a new sqcExtEstReferenceDan</a>
        </li>
    </ul>
{% endblock %}
