{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sqcextestreferencedan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sqcExtEstReferenceDan.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if sqcExtEstReferenceDan.dateCre %}{{ sqcExtEstReferenceDan.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if sqcExtEstReferenceDan.dateMaj %}{{ sqcExtEstReferenceDan.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ sqcExtEstReferenceDan.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ sqcExtEstReferenceDan.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sqcextestreferencedans_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sqcextestreferencedans_edit', { 'id': sqcExtEstReferenceDan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
