{% extends 'edit.html.twig' %}

{# EDIT : PCR #}

{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.dna is not null %}
		<a href="{{path('dna_show', {id:edit_form.vars.data.dna.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to dna'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{encore_entry_script_tags("pcr-form")}}
{% endblock %}
