{% extends 'base.html.twig' %}

{% block body %}
    <h1>Apoursamplingmethod</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aPourSamplingMethod.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if aPourSamplingMethod.dateCre %}{{ aPourSamplingMethod.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if aPourSamplingMethod.dateMaj %}{{ aPourSamplingMethod.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ aPourSamplingMethod.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ aPourSamplingMethod.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apoursamplingmethod_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('apoursamplingmethod_edit', { 'id': aPourSamplingMethod.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
