{% extends 'edit.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("sampling-form") }}
{% endblock %}

{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.stationFk is not null %}
		<a href="{{path('station_show', {id: edit_form.vars.data.stationFk.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to station'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}


{% block scripts %}
	{{ parent() }}

	{{ encore_entry_script_tags("sampling-form") }}

	{% if exception_message is defined %}
		<script type="text/javascript">
			alert("{{ exception_message|raw }}");
		</script>
	{% endif %}
{% endblock %}
