{% extends 'edit.html.twig' %}

{# EDIT : EXTERNAL SEQUENCE #}
{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.samplingFk is not null %}
		<a href="{{path('sampling_show', {id: edit_form.vars.data.samplingFk.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to sampling'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{encore_entry_script_tags("sequence-ext-form")}}

	{% if exception_message is defined %}
		<script type="text/javascript">
			alert("{{ exception_message|raw }}");
		</script>
	{% endif %}
{% endblock %}
