{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% trans_default_domain 'queries' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('co1-sampling') }}
{% endblock %}

{% block page_title %}
	{% set title="queries.sampling.title" %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<div id="co1-sampling"></div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('co1-sampling') }}
{% endblock %}
