{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lotmaterielextestreferencedan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lotMaterielExtEstReferenceDan.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if lotMaterielExtEstReferenceDan.dateCre %}{{ lotMaterielExtEstReferenceDan.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if lotMaterielExtEstReferenceDan.dateMaj %}{{ lotMaterielExtEstReferenceDan.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ lotMaterielExtEstReferenceDan.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ lotMaterielExtEstReferenceDan.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lotmaterielextestreferencedans_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lotmaterielextestreferencedans_edit', { 'id': lotMaterielExtEstReferenceDan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
