{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lotmaterielestrealisepars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lotMaterielEstRealisePar in lotMaterielEstRealisePars %}
            <tr>
                <td><a href="{{ path('lotmaterielestrealisepar_show', { 'id': lotMaterielEstRealisePar.id }) }}">{{ lotMaterielEstRealisePar.id }}</a></td>
                <td>{% if lotMaterielEstRealisePar.dateCre %}{{ lotMaterielEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lotMaterielEstRealisePar.dateMaj %}{{ lotMaterielEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ lotMaterielEstRealisePar.userCre }}</td>
                <td>{{ lotMaterielEstRealisePar.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lotmaterielestrealisepar_show', { 'id': lotMaterielEstRealisePar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lotmaterielestrealisepar_edit', { 'id': lotMaterielEstRealisePar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lotmaterielestrealisepar_new') }}">Create a new lotMaterielEstRealisePar</a>
        </li>
    </ul>
{% endblock %}
