{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lotmaterielestrealisepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lotMaterielEstRealisePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if lotMaterielEstRealisePar.dateCre %}{{ lotMaterielEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if lotMaterielEstRealisePar.dateMaj %}{{ lotMaterielEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ lotMaterielEstRealisePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ lotMaterielEstRealisePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lotmaterielestrealisepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lotmaterielestrealisepar_edit', { 'id': lotMaterielEstRealisePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
