{% extends 'edit.html.twig' %}

{# EDIT : EXTERNAL MATERIAL #}

{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.sampling is not null %}
		<a href="{{path('sampling_show', {id: edit_form.vars.data.sampling.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to sampling'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("biomaterial-ext-form") }}
{% endblock %}
