{% extends 'index.html.twig' %}

{# INDEX : EXTERNAL MATERIAL #}

{# initialize the array of linked entities ([entity1, entity2 ...]) to which we wish to make a link-shortcuts
1) The table of results should include a collumn of the type: <th data-column-id = "linkEntity" data-formatter = "linkEntity" data-sortable = "false"> Col. </ Th>
2) the controller will have to return in the table rows the colloids of the type: "linkEntity1" => "patern1", "linkeEntity2" => "patern2" ... #}
{% set links =  [] %}

	{% block action %}
	{{ parent() }}
		{% if is_granted('ROLE_PROJECT') %}
			<a href="{{ path( route_importfiles ) }}" class="btn btn-light border btn-sm" role="button"> <i class="fas fa-upload"></i>
			{{['button.Import',entityname|capitalize]|join|trans}}
		</a>
	{% else %}
		<a href="#" class="btn btn-secondary btn-sm disabled" role="button">
			<i class="fas fa-upload"></i>
			{{['button.Import',entityname|capitalize]|join|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}

	{# definition of collones to display
															    RQ! for sortable collones, suffix the field names with the names of tables tableName.fieldName #}
	<div class="table-responsive">
		<table id="grid-basic" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="lot.id" data-type="numeric" data-visible="false">
						Id
					</th>
					<th data-column-id="sampling.sample_code" data-sortable="true">
						{{'Code collecte'|trans}}
					</th>
					<th
						data-column-id="lot.external_biological_material_code"
						data-sortable="true">
						{{'Code lot materiel ext'|trans}}
					</th>
					<th
						data-column-id="lot.external_biological_material_creation_date"
						data-type="date">
						{{'list.Date creation lot materiel'|trans}}
					</th>
					<th data-column-id="list_person" data-sortable="false" data-visible="true">
						{{'list.Liste personnes'|trans}}
					</th>
					<th
						data-column-id="last_taxname_lot"
						data-sortable="true"
						data-visible="false">
						{{'list.Last taxname'|trans}}
					</th>
					<th
						data-column-id="country.country_name"
						data-type="date"
						data-visible="false">
						{{'Nom pays'|trans}}
					</th>
					<th data-column-id="municipality.municipality_code" data-visible="false">
						{{'Code commune'|trans}}
					</th>
					<th data-column-id="lot.date_of_update" data-width="100">
						{{'list.Meta update date'|trans}}
					</th>
					<th
						data-column-id="lot.date_of_creation"
						data-width="100"
						data-visible="false">
						{{'list.Meta creation date'|trans}}
					</th>
					<th
						data-column-id="meta_creation_user.user_full_name"
						data-width="10"
						data-visible="false">
						{{'list.Meta creation user'|trans}}
					</th>
					<th
						data-column-id="user_maj.user_full_name"
						data-width="10"
						data-visible="false">
						{{'list.Meta update user'|trans}}
					</th>
					<th
						data-column-id="show"
						data-formatter="show"
						data-sortable="false"
						data-width="20">Show</th>
					<th
						data-column-id="edit"
						data-formatter="edit"
						data-sortable="false"
						data-width="20">Edit</th>
					<th
						data-column-id="delete"
						data-formatter="delete"
						data-sortable="false"
						data-width="20">Delete</th>
				</tr>
			</thead>
		</table>
	</div>
{% endblock %}
