{% extends 'base.html.twig' %}

{% block body %}
    <h1>Apourfixateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aPourFixateur.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if aPourFixateur.dateCre %}{{ aPourFixateur.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if aPourFixateur.dateMaj %}{{ aPourFixateur.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ aPourFixateur.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ aPourFixateur.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('apourfixateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('apourfixateur_edit', { 'id': aPourFixateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
