{# MOTU assignment query : extra templates #}

{# verbatim mode escapes {{braces}} for mustache.js#}
{% verbatim %}
  <template id="details-form-template">
    <form class='details-form'>
      <input type='hidden' name='taxon' value="{{ id }}"/>
      <input type='hidden' name='methode' value="{{ id_methode }}"/>
      <input type='hidden' name='date_motu' value="{{ id_dataset }}"/>
      <button
        type='submit'
        class='btn btn-xs btn-default command-details'
        data-target='#detailsModal'
        data-row-id="{{ id }}">
        <span class='fas fa-th-list'></span>
      </button>
    </form>
  </template>
{% endverbatim %}
