{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% block page_title %}
	{% set title="queries.motu.title" %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('spsearch/motu') }}
{% endblock %}

{% block body %}
	<div id="motus-vue">
		<center>
			<i class="fas fa-spinner fa-spin fa-4x"></i>
		</center>
	</div>
{% endblock %}

{# Scripts #}
{% block scripts %}
	{{ parent() }}

	{{ encore_entry_script_tags('spsearch/motu') }}

{% endblock %}
