{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lotmaterielextestrealisepars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lotMaterielExtEstRealisePar in lotMaterielExtEstRealisePars %}
            <tr>
                <td><a href="{{ path('lotmaterielextestrealisepar_show', { 'id': lotMaterielExtEstRealisePar.id }) }}">{{ lotMaterielExtEstRealisePar.id }}</a></td>
                <td>{% if lotMaterielExtEstRealisePar.dateCre %}{{ lotMaterielExtEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lotMaterielExtEstRealisePar.dateMaj %}{{ lotMaterielExtEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ lotMaterielExtEstRealisePar.userCre }}</td>
                <td>{{ lotMaterielExtEstRealisePar.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lotmaterielextestrealisepar_show', { 'id': lotMaterielExtEstRealisePar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lotmaterielextestrealisepar_edit', { 'id': lotMaterielExtEstRealisePar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lotmaterielextestrealisepar_new') }}">Create a new lotMaterielExtEstRealisePar</a>
        </li>
    </ul>
{% endblock %}
