{% extends 'edit.html.twig' %}

{# EDIT : PCR #}

{#  Typehead : initialisation of typeahead EntityRelationalId field  #} 
{% set route = app.request.attributes.get('_route') %}
{% set action = route|split('_')[1] %}
{% set codeAdn = '' %}
{% set idAdn = '' %}
{% if (pcr.adnFk.codeAdn is defined )%}
    {#  case of an existing record #} 
    {% set codeAdn = pcr.adnFk.codeAdn %}
    {% set idAdn = pcr.adnFk.id %}
{% elseif app.request.query.get('idFk') is defined  and action == 'new'  %}
    {#  case of a new record with  a preselected relational entity #} 
    {% set idAdn = app.request.query.get('idFk') %}
    {% if app.request.query.get('idFk') is not empty %}
            {% set codeAdn = pcr.adnFk.codeAdn %}
    {% endif %}       
{% endif %}

{% block body %}
       
    {{ parent() }}   
           
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">{{'title.Personne'|trans}}</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'buton.Close'|trans}}</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

{% if action != 'show'  %}
<script type="text/javascript">  
// Person Modal Actions
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_pcr_pcrEstRealisePars');
                    var index = getLastIndex('bbees_e3sbundle_pcr_pcrEstRealisePars');
                    callAjax(form, $container, index);		
	}); 
             
        // Collection lotMaterielEstRealisePars (Personne)
        addCollectionButtons('bbees_e3sbundle_pcr_pcrEstRealisePars',"Personne",true);

    });
 </script>
 {% endif %}
 
<script type="text/javascript">  
// Form actions
    $(document).ready(function(){ 
        // features of date & date_precision fields 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_pcr_datePcr').change(function (e) { 
            dateFormat('bbees_e3sbundle_pcr', 'datePcr', message);
        })
        $('[for^=bbees_e3sbundle_pcr_datePrecisionVocFk]').click(function (e) { 
             dateDateprecision('bbees_e3sbundle_pcr', 'datePcr', message);
        }) 
        {% if action == 'show'  %}  
           // Adding a Back to Button to DNA
            addBackToRelatedRecord('pcr', 'adn', "{{'buton.Back to adn'|trans}}", 1, 'show');
        {% endif %}
        {% if action == 'edit'  %}  
            // Adding a Back to Button to DNA
            addBackToRelatedRecord('pcr', 'adn', "{{'buton.Back to adn'|trans}}", 1); 
            // General action on form: form lock (default) / user role: app.user ...
            {% if not is_granted('ROLE_ADMIN') %}  
                // Locking fields: ADN; Code PCR; Numero PCR; Amorce PCR sens; Amorce PCR antisens 
                $('#bbees_e3sbundle_pcr_adnTypeahead').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_adnTypeahead').attr("disabled", false); 
                 }); 
                $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", false); 
                });   
                $('#bbees_e3sbundle_pcr_numPcr').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_numPcr').attr("disabled", false); 
                }); 
                $('#bbees_e3sbundle_pcr_primerPcrStartVocFk').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_primerPcrStartVocFk').attr("disabled", false); 
                }); 
                $('#bbees_e3sbundle_pcr_primerPcrEndVocFk').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                    $('#bbees_e3sbundle_pcr_primerPcrEndVocFk').attr("disabled", false); 
                }); 
            {% endif %}
        {% endif %}
        {% if action == 'new'  %}
            var CodePcrPlaceholder = {"numPcr" : "{{'Num pcr'|trans}}"};
            // General action on form: form lock (default) / user role: app.user ...
            $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_pcr"]',function(ev){
                // Unlocking fields to allow registration
                $('#bbees_e3sbundle_pcr_codePcr').attr("disabled", false); 
             }); 
            // case where a dna is yet selected : Locked field: individuTypeahead
            {% if app.request.query.get('idFk') is defined and app.request.query.get('idFk') is not empty %}
                $('#bbees_e3sbundle_pcr_adnTypeahead').attr("disabled", true).css("background-color", "WhiteSmoke");
            {% endif %}
            // specific features: automatically generating codePcr
            setCodePcr(CodePcrPlaceholder);
            //$('#bbees_e3sbundle_pcr_adnFk').change(function (e) { setCodePcr(CodePcrPlaceholder);})
            // $('#bbees_e3sbundle_pcr_adnTypeahead').mouseup(function (e) { setCodePcr(CodePcrPlaceholder);})
            $('#bbees_e3sbundle_pcr_primerPcrStartVocFk').change(function (e) { setCodePcr(CodePcrPlaceholder);})
            $('#bbees_e3sbundle_pcr_primerPcrEndVocFk').change(function (e) { setCodePcr(CodePcrPlaceholder);}) 
            $('#bbees_e3sbundle_pcr_numPcr').keyup(function (e) { setCodePcr(CodePcrPlaceholder);}) 
        {% endif %}         
    });
</script>

<script>
//// Typeahead 
// Constructing the suggestion engine
    var adns = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
           url : '{{ path("adn_search", { 'q':"QUERY"}) |replace({"QUERY": "%QUERY"}) }}',
           wildcard: '%QUERY'
        }
    });

    // Initializing the typeahead bbees_e3sbundle_pcr_adnId
    var selectedTypeahead = 0; /* flag to know if there is a Typeahead selected value  */
    $('input.typeahead').val( "{{codeAdn}}" );
    $('#bbees_e3sbundle_pcr_adnId').val( {{idAdn}} );
    $('.typeahead-adn').typeahead(
        {
            hint: true,
            highlight: false, /* Enable substring highlighting */
            minLength: 1 /* Specify minimum characters required for showing result */
        },
        {
            name: 'adns',
            source: adns,
            displayKey: "code",
            limit: 40
        }
    ).on('keyup', this, function (event) {
        selectedTypeahead = 0;
    }
    ).bind('typeahead:select', function(ev, item) {
        var $this = $(this);
        var codeTypeaheadSelect = item.code;
        var idTypeaheadSelect = item.id;
        $('#'+$this.attr('data-target_id')).val(item.id);
        $adn = $this.parents('.form-group').find('input.bbees_e3sbundle_pcr[adnId]');
        if ($adn.length===1) {
            $adn.val(item.id);
        }
        setCodePcr({"numPcr" : "{{'Num pcr'|trans}}"});
        selectedTypeahead = 1;
    }
    ).bind('typeahead:close', function(ev, item) {
        if (selectedTypeahead == 0) { /* if there is no Typeahead selected value fields are reinitialized */
           $('input.typeahead').val( "{{codeAdn}}" ) ;
           $('#bbees_e3sbundle_pcr_adnId').val( {{idAdn}} ) ;
           setCodePcr({"numPcr" : "{{'Num pcr'|trans}}"});
        }
        var $this = $(this);
        if ($.trim($this.val())==='') {
            $this.val('');
            $adn = $this.parents('.form-group').find('input.bbees_e3sbundle_pcr[adnId]');
            if ($adn.length===1) {
                $adn.val('');
            }
        }
    }
    );
</script>

{% endblock %}