{% extends "requetes/base.modal.html.twig" %}
{% block modal_title %}
    {{details|first.taxname}} 
    <span class="label label-default">{{details|first.methode}}</span> 
    <span class="label label-info">{{details|first.date_motu|date('Y-m-d')}}</span>
{% endblock %}

{% block modal_body %}
<div class="table-responsive">
    <table id="details-table" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
        <thead>
            <tr>
                <th data-column-id="id" data-type="numeric">ID Séq</th>
                <th data-column-id="acc" data-formatter="ncbiLink">Accession</th>
                <th data-column-id="type">Type</th>
                <th data-column-id="motu" data-type="numeric">MOTU</th>
                <th data-column-id="critere">Critère</th>
            </tr>
        </thead>
        <tbody>
            {% for row in details %}
            <tr>
                <td>{{row.id}}</td><td>{{row.acc}}</td><td>{{row.type|capitalize}}</td><td>{{row.motu}}</td><td>{{row.critere}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
