{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h1>Assignations des MOTUs aux espèces</h1>
  <hr>

  {# Formulaire #}
  {% include 'requetes/formulaire1/form.html.twig' with criteres %}

  {# Tableau résultats #}
  <div class="table-responsive">
    <table id="result-table" class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th data-column-id="taxname" data-formatter="taxonLink">Taxon</th>
          <th data-column-id="methode">Méthode</th>
          <th data-column-id="date_motu" data-formatter="date_format" data-searchable="false">Date Méthode</th>
          <th data-column-id="nb_seq" data-converter="numeric" data-searchable="false">Séquences</th>
          <th data-column-id="nb_motus" data-converter="numeric" data-searchable="false">MOTUs</th>
          <th data-column-id="id_methode" data-formatter="details" data-sortable="false" data-searchable="false">Détails</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  {# Modal et templates HTML #}
  <div id="modal-container"></div>

  {% verbatim %}
    <template id="details-form-template">
      <form class='details-form'>
        <input type='hidden' name='taxon' value="{{ id }}"/>
        <input type='hidden' name='methode' value="{{ id_methode }}"/>
        <input type='hidden' name='date_motu' value="{{ id_date_motu }}"/>
        <button type='submit' class='btn btn-xs btn-default command-details' data-toggle='modal' data-target='#detailsModal' data-row-id="{{ id }}">
          <span class='fa fa-th-list'></span>
        </button>
      </form>
    </template>

  {% endverbatim %}
{% endblock %}

{# Scripts #}
{% block scripts %}
  {{ parent() }}

  <script>
    function onGenusSelected() {
      $("#submit-button").prop("disabled", true);
      $("#taxon-spinner").removeClass("hidden");
      $.post("{{path('speciesingenus')}}", {
        genus: $('#genus').val()
      }, function (response) {
        var species = $('#species');
        species.html('')
        for (i = 0; i < response.data.length; i++) {
          species.append('<option value=' + response.data[i].species + '>' + response.data[i].species + '</option>');
        }
        $("#submit-button").prop("disabled", false);
        $("#taxon-spinner").addClass("hidden");
      });
    }

    $(document).ready(function () {

      initSwitchery('.switchbox');

      var niveau = 0;
      var criteres = {};
      var referentieltaxon_url = "{{path('referentieltaxon_show', {id:0})}}".slice(0, -1);

      onGenusSelected();
      onDateMotuSelected("#method-form", "#submit-button", 'checkbox');

      $('#taxaFilter').on('change', function () {
        if (this.checked) {
          $(".taxa-select").prop('disabled', false);
        } else {
          $(".taxa-select").prop('disabled', true);
        }
      });

      $('#genus').change(onGenusSelected);

      $('#date_methode').change(function () {
        onDateMotuSelected("#method-form", "#submit-button", "checkbox");
      });

      $("#result-table").bootgrid({
        ajax: false,
        caseSensitive: false,
        multiSort: true,
        formatters: {
          "details": bgDetailsForm,
          "date_format": bgDateFormat,
          'taxonLink': function (column, row) {
            {% verbatim %}
              return Mustache.render("<a href='" + referentieltaxon_url + "{{id}}'>{{taxname}}</a>", row);
            {% endverbatim %}
        }
      }
    }).on("loaded.rs.jquery.bootgrid", function (e) { // show modal callback
      $(".details-form").submit(function (event) {
        event.preventDefault();
        var form_data = $(this).serializeArray(); // form in last cell of row
        for (var i = 0; i < criteres.length; i++) {
          form_data.push({name: 'criteres[]', value: criteres[i]});
        }
        form_data.push({name: 'niveau', value: niveau});
        // End of data serialization
        // console.log(form_data);
        $.ajax({ // prepare ajax request
          type: 'POST',
          url: "{{ path('detailsModal') }}",
          data: $.param(form_data),
          success: function (response) {

            $("#modal-container").html(response);
            $("#details-table").bootgrid({
              formatters: {
                ncbiLink: function (column, row) {
                  {% verbatim %}
                    return Mustache.render("<a href='https://www.ncbi.nlm.nih.gov/nuccore/{{accession}}'>{{accession}}</a>", {
                      accession: row[column.id]
                    });
                  {% endverbatim %}
              }
            }
          });
          $("#detailsModal").modal('show');
        }
      });
    });
  });

  $("#main-form").submit(function (event) {
    event.preventDefault();
    console.log(criteres);
    var form_data = $(this).serialize();
    console.log(form_data);
    $.ajax({
      url: "{{ path('requete1') }}",
      type: "POST",
      data: form_data,
      success: function (response) {
        niveau = response.niveau;
        criteres = response.criteres;
        $("#result-table").bootgrid("clear");
        $("#result-table").bootgrid("append", response.rows);
        $("#result-table").bootgrid("reload");
      }
    });

  });

});
  </script>

{% endblock %}