{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h1>Assignations des MOTUs aux espèces</h1>
  <hr>

  {# Formulaire #}
  {% include 'requetes/formulaire1/form.html.twig' with criteres %}

  {# Tableau résultats #}
  {% include 'requetes/formulaire1/results.html.twig' %}

  {# Modal et templates HTML #}
  <div id="modal-container"></div>

  {% include 'requetes/formulaire1/extra_templates.html.twig' %}

{% endblock %}

{# Scripts #}
{% block scripts %}
  {{ parent() }}

  <script>

    // Bootgrid : Details column callback
    function bgDetailsForm(column, row) {
      return Mustache.render($("#details-form-template").html(), row);
    }

    $(document).ready(function () {

			let speciesSelector = new SpeciesSelector("#main-form")
      initSwitchery('.switchbox');

      var niveau = 0;
      var criteres = {};
      var referentieltaxon_url = "{{path('referentieltaxon_show', {id:0})}}".slice(0, -1);
      // refresh list of methods in selected dataset
      $('#date_methode').change(function () {
        onDateMotuSelected("#method-form", "#submit-button", "checkbox");
      }).trigger('change')

      // toggle taxonomy form
      $('#taxaFilter').change(function () {
        if (this.checked) {
          $(".taxa-select").prop('disabled', false);
        } else {
          $(".taxa-select").prop('disabled', true);
        }
      });

      $("#result-table").bootgrid({
        ajax: false,
        caseSensitive: false,
        multiSort: true,
        formatters: {
          "details": bgDetailsForm,
          "date_format": bgDateFormat,
          'taxonLink': function (column, row) {
            {% verbatim %}
              return Mustache.render(
                "<a href='" + referentieltaxon_url + "{{id}}'>{{taxname}}</a>",
                row
              );
            {% endverbatim %}
        }
      }
    }).on("loaded.rs.jquery.bootgrid", function (e) { // show modal callback
      $(".details-form").submit(function (event) {
        event.preventDefault();
        var form_data = $(this).serializeArray(); // form in last cell of row
        for (var i = 0; i < criteres.length; i++) {
          form_data.push({name: 'criteres[]', value: criteres[i]});
        }
        form_data.push({name: 'niveau', value: niveau});
        // End of data serialization console.log(form_data);
        $.ajax({ // prepare ajax request
          type: 'POST',
          url: "{{ path('detailsModal') }}",
          data: $.param(form_data),
          success: function (response) {

            $("#modal-container").html(response);
            $("#details-table").bootgrid({
              formatters: {
                ncbiLink: function (column, row) {
                  {% verbatim %}
                    return Mustache.render(
                      "<a href='https://www.ncbi.nlm.nih.gov/nuccore/{{accession}}'>{{accession}}</a>",
                      {
                        accession: row[column.id]
                      }
                    );
                  {% endverbatim %}
              }
            }
          });
          $("#detailsModal").modal('show');
        }
      });
    });
  });

  $("#main-form").submit(function (event) {
    event.preventDefault();
    var targetUrl = $(this).data('url')
    var form_data = $(this).serialize();
    $.ajax({
      url: targetUrl,
      type: "POST",
      data: form_data,
      success: function (response) {
        niveau = response.niveau;
        criteres = response.criteres;
        $("#result-table")
          .bootgrid("clear")
          .bootgrid("append", response.rows)
          .bootgrid("reload");
      }
    });

  });

});
  </script>

{% endblock %}
