{% extends 'base.html.twig' %}
{% form_theme edit_form 'Form/form-theme.html.twig' %}

{# initialization of TWIG general variables #}
{% set route = app.request.attributes.get('_route') %}
{% set entityname = route|split('_')[0] %}
{% set action = route|split('_')[1] %}
{% set route_new = entityname ~ '_new' %}
{% set route_index = entityname ~ '_index' %}
{# initialize the url attached to the BackToTheList button #}
{% set idFk = app.request.query.get('idFk')|default(null) %}
{% set nameFk = app.request.query.get('nameFk')|default(null) %}

{# initializes and manages the variables that are valid for validation and the BackToTheList button #}
{% set flagvalid = 0 %}

{# case of the UPDATE / edit mode: valid is passed in form_edit form parameter after validation #}
{% if valid is defined and valid == 1 %}
	{% set flagvalid = 1 %}
{% endif %}
{# case of CREATE / new: valid mode passed in url parameter? valid = 1 #}
{% if app.request.query.get('valid')|default(null) == '1' %}
	{% set flagvalid = 1 %}
{% endif %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("forms") }}
{% endblock %}


{% block page_title %}
	<h1>
		{{ ("core." ~ entityname)|trans({}, 'sections') }}
		{% if flagvalid != 0 %}
			<i class="fas fa-check-circle"></i>
		{% endif %}
	</h1>
{% endblock %}

{% block action_bar_class %}offset-xl-2 offset-lg-3 col-xl-10 col-lg-9{% endblock %}
{% block action %}
	{% set path_route_index = path_route_index|default(path( route_index, { nameFk: nameFk, idFk: idFk } )) %}
	<a href="{{ path_route_index }}" class="btn btn-sm btn-light border">
		<i class="fas fa-list"></i>
		{{ "button.BackToTheList"|trans }}
	</a>
	{% if
			edit_form.vars.action_type == "show" and
				(	is_granted('ROLE_PROJECT') or
					(	is_granted('ROLE_COLLABORATION') and
						edit_form.vars.data.userCre == app.user.id))
		%}
		<a href="{{ app.request.pathinfo }}/edit" class="btn btn-sm btn-success">
			<i class="fas fa-edit"></i>
			{{'Edit'|trans}}
		</a>
	{% endif %}
{% endblock %}


{% block body %}
	{{ form_start(edit_form, {'disabled': false}) }}
	{{ form_errors(edit_form) }}

	{% if nameFk is defined and action == 'new' and edit_form[nameFk] is defined %}
		{{ form_row(attribute(edit_form, nameFk), {value: idFk}) }}
	{% endif %}
	{{ form_rest(edit_form) }}
	<div class="row">
		<div class="form-group offset-lg-3 col-lg-9 offset-xl-2 col-xl-10">
			{% if edit_form.vars.action_type != 'show' %}
				<button type="submit" class="btn btn-round btn-success" value="Create">
					{{ "button.Valid"|trans }}
				</button>
			{% endif %}
		</div>
	</div>
	{{ form_end(edit_form) }}

	{# Create form modals #}
	{% for field in edit_form %}
		{% if field.vars.attr['data-modal-controller'] is defined %}
			<div id="{{ 'modal-' ~ field.vars.id }}" class="modal-container" data-target="{{'#wrapper_' ~ field.vars.id}}">
				{{ render(controller(field.vars.attr["data-modal-controller"])) }}
			</div>
		{% endif %}
	{% endfor %}

{% endblock %}


{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("forms") }}
	{% if exception_message is defined %}
		<script type="text/javascript">
			alert("{{ exception_message|raw }}");
		</script>
	{% endif %}
{% endblock %}
