{% extends 'base.html.twig' %}

{% block link %}
	{# initialize the entityname variable from the name of the route: 'importfilesentityname_index'  #}
	{% set route = app.request.attributes.get('_route') %}
	{% set route_entity_index = route[11:] %}
	{% set entityname = route_entity_index|split('_')[0] %}
	{# special case of other imports / tools #}
	{% if route_entity_index == 'internal_lot_publie_index' or route_entity_index == 'sqcassembleepublie_index' %}
		{% set route_entity_index = 'source_index' %}
		{% set entityname = 'source' %}
	{% endif %}
	{% if route_entity_index == 'internal_lot_range_index' or route_entity_index == 'internal_lot_deplace_index' %}
		{% set route_entity_index = 'boite_index' %}
		{% set entityname = 'boite' %}
		{% set href =  path(route_entity_index,{'typeBoite':'LOT'})  %}
	{% endif %}
	{% if route_entity_index == 'sliderange_index' or route_entity_index == 'slidedeplace_index' %}
		{% set route_entity_index = 'boite_index' %}
		{% set entityname = 'boite' %}
		{% set href =  path(route_entity_index,{'typeBoite':'LAME'})  %}
	{% endif %}
	{% if route_entity_index == 'adnrange_index' or route_entity_index == 'adndeplace_index' %}
		{% set route_entity_index = 'boite_index' %}
		{% set entityname = 'boite' %}
		{% set href =  path(route_entity_index,{'typeBoite':'ADN'})  %}
	{% endif %}
	{% if href is not defined  %}
		{% set href =  path(route_entity_index)  %}
	{% endif %}

	<div class="clearfix"></div>
	<br/>
	<div class="row">
		<div class="col-lg-4">
			<div class="input-group" role="group">
				<div class="input-group-btn" role="group">
					<button
						type="button"
						class="btn btn-primary  dropdown-toggle"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false">
						{{'import.liste'|trans}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% if is_granted('ROLE_ADMIN') %}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesstation_index') }}">
								{{'import.station'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilescollecte_index') }}">
								{{'import.collecte'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_index') }}">
								{{'import.internal_lot'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesspecimen_index') }}">
								{{'import.specimen'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesslide_index') }}">
								{{'import.slide'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesexternal_lot_index') }}">
								{{'import.external_lot'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadn_index') }}">
								{{'import.adn'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilespcr_index') }}">
								{{'import.pcr'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfileschromatogramme_index') }}">
								{{'import.chromatogramme'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessequenceassemblee_index') }}">
								{{'import.sequenceassemblee'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('import_files_external_sequence_index') }}">
								{{'import.external_sequence'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesmotu_index') }}">
								{{'import.motu'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessource_index') }}">
								{{'import.source'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_range_index') }}">
								{{'import.boite.internal_lot_range'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessliderange_index') }}">
								{{'import.boite.sliderange'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadnrange_index') }}">
								{{'import.boite.adnrange'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_deplace_index') }}">
								{{'import.boite.internal_lot_deplace'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesslidedeplace_index') }}">
								{{'import.boite.slidedeplace'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadndeplace_index') }}">
								{{'import.boite.adndeplace'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_publie_index') }}">
								{{'import.source.internal_lot_publie'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessqcassembleepublie_index') }}">
								{{'import.source.sequencepublie'|trans}}
							</a><br/>
						{% elseif  is_granted('ROLE_PROJECT')%}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesstation_index') }}">
								{{'import.station'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilescollecte_index') }}">
								{{'import.collecte'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_index') }}">
								{{'import.internal_lot'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesspecimen_index') }}">
								{{'import.specimen'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesslide_index') }}">
								{{'import.slide'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesexternal_lot_index') }}">
								{{'import.external_lot'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadn_index') }}">
								{{'import.adn'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilespcr_index') }}">
								{{'import.pcr'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfileschromatogramme_index') }}">
								{{'import.chromatogramme'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessequenceassemblee_index') }}">
								{{'import.sequenceassemblee'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('import_files_external_sequence_index') }}">
								{{'import.external_sequence'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.motu'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessource_index') }}">
								{{'import.source'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_range_index') }}">
								{{'import.boite.internal_lot_range'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessliderange_index') }}">
								{{'import.boite.sliderange'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadnrange_index') }}">
								{{'import.boite.adnrange'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.internal_lot_deplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.slidedeplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.adndeplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_publie_index') }}">
								{{'import.source.internal_lot_publie'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessqcassembleepublie_index') }}">
								{{'import.source.sequencepublie'|trans}}
							</a><br/>
						{% elseif  is_granted('ROLE_COLLABORATION')%}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.station'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.collecte'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.internal_lot'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.specimen'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.slide'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.external_lot'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadn_index') }}">
								{{'import.adn'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilespcr_index') }}">
								{{'import.pcr'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfileschromatogramme_index') }}">
								{{'import.chromatogramme'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessequenceassemblee_index') }}">
								{{'import.sequenceassemblee'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('import_files_external_sequence_index') }}">
								{{'import.external_sequence'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.motu'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.source'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_range_index') }}">
								{{'import.boite.internal_lot_range'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessliderange_index') }}">
								{{'import.boite.sliderange'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesadnrange_index') }}">
								{{'import.boite.adnrange'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.internal_lot_deplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.slidedeplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.adndeplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilesinternal_lot_publie_index') }}">
								{{'import.source.internal_lot_publie'|trans}}
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="{{ path('importfilessqcassembleepublie_index') }}">
								{{'import.source.sequencepublie'|trans}}
							</a><br/>
						{% elseif  is_granted('ROLE_INVITED')%}
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.station'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.collecte'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.internal_lot'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.specimen'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.slide'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.external_lot'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.adn'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.pcr'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.chromatogramme'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.sequenceassemblee'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.external_sequence'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.motu'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.source'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.internal_lot_range'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.sliderange'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.adnrange'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.internal_lot_deplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.slidedeplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.boite.adndeplace'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.source.internal_lot_publie'|trans}}
								</font>
							</a><br/>
							<i class="far fa-arrow-alt-circle-right"></i>
							<a href="#">
								<font color="grey">
									{{'import.source.sequencepublie'|trans}}
								</font>
							</a><br/>
							{% else  %}

						{% endif %}
					</ul>
				</div>
				<div class="input-group-btn" role="group">
					<a href="{{ href}}" class="btn  btn-primary" type="button" role="button">
						{{ ('button.Back to the list of ' ~ entityname)|trans}}
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
