{% extends 'edit.html.twig' %}

{# EDIT : SITE #}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("site-form") }}
{% endblock %}

{% block headincl %}{% endblock %}

{% block body %}
	{{ parent() }}
	<div id="map-modal"></div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("site-form") }}
{% endblock %}
