{% extends 'edit.html.twig' %}

{# EDIT : SITE #}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags("site-form") }}
{% endblock %}

{% block headincl %}{% endblock %}

{% block body %}
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i>
			{{ "scrambled_coordinates"|trans}}
		</div>
	{% endif %}
	{{ parent() }}
	<div id="map-modal"></div>
{% endblock %}


{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("site-form") }}
{% endblock %}
