{% extends 'index.html.twig' %}

{# INDEX : SEQUENCE #}

{# initialize the array of linked entities ([entity1, entity2 ...]) to which we wish to make a link-shortcuts
1) The table of results should include a collumn of the type: <th data-column-id = "linkEntity" data-formatter = "linkEntity" data-sortable = "false"> Col. </ Th>
2) the controller will have to return in the table rows the colloids of the type: "linkEntity1" => "patern1", "linkeEntity2" => "patern2" ... #}
{% set links =  [] %}

	{% block action %}
	{{ parent() }}
		{% if is_granted('ROLE_COLLABORATION') %}<a href="{{ path( route_importfiles ) }}" class="btn btn-primary btn-sm" role="button">{{['button.Import',entityname|capitalize]|join|trans}}</a>
	{% else %}
		<a href="#" class="btn btn-secondary btn-sm disabled" role="button">{{['button.Import',entityname|capitalize]|join|trans}}</a>
	{% endif %}
{% endblock %}

{% block body %}
	{# 
	    definition of columns to display 
		  for sortable columns, suffix the field names 
		  with the names of tables tableName.fieldName 
		#}
	<div class="table-responsive">
		<table id="grid-basic" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th data-column-id="sq.id" data-type="numeric" data-visible="false">
						Id
					</th>
					<th data-column-id="list_specimen_molecular_code" data-visible="false">
						{{'Code ind biomol'|trans}}
					</th>
					<th
						data-column-id="internal_sequence_code"
						data-sortable="true"
						data-visible="true">
						{{'Code sqc ass'|trans}}
					</th>
					<th
						data-column-id="internal_sequence_alignment_code"
						data-sortable="true"
						data-visible="false">
						{{'Code sqc alignement'|trans}}
					</th>
					<th data-column-id="voc_internal_sequence_gene_code" data-sortable="true">
						{{'Gene voc fk'|trans}}
					</th>
					<th
						data-column-id="voc_internal_sequence_status.code"
						data-sortable="true"
						data-visible="true">
						{{'Statut sqc ass voc fk'|trans}}
					</th>
					<th data-column-id="internal_sequence_accession_number" data-visible="true">
						{{'list.Accession number'|trans}}
					</th>
					<th
						data-column-id="internal_sequence_creation_date"
						data-type="date"
						data-visible="false">
						{{'Date creation sqc ass'|trans}}
					</th>
					<th data-column-id="last_taxname_sq" data-sortable="true" data-visible="true">
						{{'list.Last taxname'|trans}}
					</th>
					<th data-column-id="list_source" data-sortable="true" data-visible="false">
						{{'list.List source'|trans}}
					</th>
					<th
						data-column-id="code_sq_identification_criterion"
						data-sortable="true"
						data-visible="false">
						{{'list.Last identification critere'|trans}}
					</th>
					<th data-column-id="motu_flag" data-sortable="true" data-visible="true">
						{{'list.MotuAssigne'|trans}}
					</th>
					<th data-column-id="sq.date_of_update" data-width="100">
						{{'list.Date maj'|trans}}
					</th>
					<th data-column-id="sq.date_of_creation" data-width="100" data-visible="false">
						{{'list.Date cre'|trans}}
					</th>
					<th data-column-id="user_cre.user_name" data-width="10" data-visible="false">
						{{'list.User cre'|trans}}
					</th>
					<th data-column-id="user_maj.user_name" data-width="10" data-visible="false">
						{{'list.User maj'|trans}}
					</th>
					<th
						data-column-id="show"
						data-formatter="show"
						data-sortable="false"
						data-width="20">
						{{'list.show'|trans}}
					</th>
					<th
						data-column-id="edit"
						data-formatter="edit"
						data-sortable="false"
						data-width="20">
						{{'list.edit'|trans}}
					</th>
					<th
						data-column-id="delete"
						data-formatter="delete"
						data-sortable="false"
						data-width="20">
						{{'list.delete'|trans}}
					</th>
				</tr>
			</thead>
		</table>
	</div>
{% endblock %}
