{% extends 'edit.html.twig' %}

{# EDIT : SPECIMEN #}

{% block action %}
	{{parent()}}
	{% if edit_form.vars.data.lotMaterielFk is not null %}
		<a href="{{path('lotmateriel_show', {id: edit_form.vars.data.lotMaterielFk.id})}}" class="btn btn-sm btn-info">
			<i class="fas fa-link"></i>
			{{'button.Back to lotmateriel'|trans}}
		</a>
	{% endif %}
{% endblock %}

{% block body %}
	{{ parent() }}
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("specimen-form") }}
{% endblock %}
