{% extends 'edit.html.twig' %}

{# EDIT : SPECIMEN #}

{#  Typehead : initialisation of typeahead EntityRelationalId field  #} 
{% set route = app.request.attributes.get('_route') %}
{% set action = route|split('_')[1] %}
    {% set codeLotMateriel = '' %}
    {% set idLotMateriel = '' %}
{% if (individu.lotMaterielFk.codeLotMateriel is defined )%}
    {#  case of an existing record #} 
    {% set codeLotMateriel = individu.lotMaterielFk.codeLotMateriel %}
    {% set idLotMateriel = individu.lotMaterielFk.id %}
{% elseif app.request.query.get('idFk') is defined  and action == 'new'  %}
    {#  case of a new record with  a preselected relational entity #} 
    {% set idLotMateriel = app.request.query.get('idFk') %}
    {% if app.request.query.get('idFk') is not empty %}
            {% set codeLotMateriel = individu.lotMaterielFk.codeLotMateriel %}
    {% endif %}       
{% endif %}

{% block body %}

    {{ parent() }}   
    
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">{{'title.Personne'|trans}}</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light border" data-dismiss="modal">{{'buton.Close'|trans}}</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

{% if action != 'show'  %}
<script type="text/javascript">  
// Personne Modal Actions
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){                
        // Modal myModalPersonne : Manage new Personne for species_is_identified_bys
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_individu_especeIdentifiees');
                    var index = $container.find(':input').length; 
                    var $container = $('div#bbees_e3sbundle_individu_especeIdentifiees_0_estIdentifiePars');
                    callAjax(form, $container, index);		
	});        
        // Collection especeIdentifiees (EspeceIdentifiee)
        addCollectionButtonsEmbed('bbees_e3sbundle_individu_especeIdentifiees','EspeceIdentifiee',false,true,'estIdentifiePars','Personne'); 
    });
</script>
{% endif %}

<script type="text/javascript">  
// Form actions
    $(document).ready(function(){ 
        // features of date & date_precision fields 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_individu_especeIdentifiees_0_dateIdentification').change(function (e) { 
            dateFormat('bbees_e3sbundle_individu_especeIdentifiees_0', 'dateIdentification', message);
        })
        $('[for^=bbees_e3sbundle_individu_especeIdentifiees_0_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_individu_especeIdentifiees_0', 'dateIdentification', message);
        })
        $('#bbees_e3sbundle_individu_especeIdentifiees_1_dateIdentification').change(function (e) { 
            dateFormat('bbees_e3sbundle_individu_especeIdentifiees_1', 'dateIdentification', message);
        })
        $('[for^=bbees_e3sbundle_individu_especeIdentifiees_1_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_individu_especeIdentifiees_1', 'dateIdentification', message);
        })

        // General action on form: form lock (default) / user role: app.user ... 
        {% if action == 'show'  %}  
           // Adding a Back to Button to Specimen
            addBackToRelatedRecord('individu', 'lotmateriel', "{{'buton.Back to lotmateriel'|trans}}", 1, 'show');
        {% endif %}
        {% if action == 'edit'  %}  
            // Adding a Back to Button to lotMateriel
            addBackToRelatedRecord('individu', 'lotmateriel', "{{'buton.Back to lotmateriel'|trans}}", 1);
            // General action on form: form lock (default) / user role: app.user ...           
            {% if  flag_indbiomol == 1 %} 
                // flag_indbiomol = 1 : cas ou l'individu biomol reste à créer 
                $('#bbees_e3sbundle_individu_especeIdentifiees').change(function (e) { setCodeIndBiomol({"RefTaxonSelected" : "{{'Choose a Taxon'|trans}}"});})
                // $('#bbees_e3sbundle_individu_lotMaterielFk').change(function (e) {  setCodeIndBiomol({"RefTaxonSelected" : "{{'Choose a Taxon'|trans}}"});})
                $('#bbees_e3sbundle_individu_numIndBiomol').keyup(function (e) { setCodeIndBiomol({"RefTaxonSelected" : "{{'Choose a Taxon'|trans}}"});}) 
                {% if not is_granted('ROLE_ADMIN') %}  
                    // Locking fields:  Lot materiel; Code morphologique individu; Code moleculaire individu*; Code tube ; Numero moleculaire individu* 
                    $('#bbees_e3sbundle_individu_lotmaterielTypeahead').attr("disabled", true); 
                    $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                        $('#bbees_e3sbundle_individu_lotmaterielTypeahead').attr("disabled", false); 
                     });
                {% endif %}
            {% else %}
                // flag_indbiomol = 0 : case where the biomol code specimen has already been created
                {% if not is_granted('ROLE_ADMIN') %}  
                    // Locking fields:  Lot materiel; Code morphologique individu; Code moleculaire individu*; Code tube ; Numero moleculaire individu* 
                    $('#bbees_e3sbundle_individu_lotmaterielTypeahead').attr("disabled", true); 
                    $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                        $('#bbees_e3sbundle_individu_lotmaterielTypeahead').attr("disabled", false); 
                     }); 
                    $('#bbees_e3sbundle_individu_codeIndTriMorpho').attr("disabled", true); 
                    $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                        $('#bbees_e3sbundle_individu_codeIndTriMorpho').attr("disabled", false); 
                     });
                    $('#bbees_e3sbundle_individu_codeIndBiomol').attr("disabled", true); 
                    $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                        $('#bbees_e3sbundle_individu_codeIndBiomol').attr("disabled", false); 
                     });
                    $('#bbees_e3sbundle_individu_codeTube').attr("disabled", true); 
                    $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                        $('#bbees_e3sbundle_individu_codeTube').attr("disabled", false); 
                     });
                    $('#bbees_e3sbundle_individu_numIndBiomol').attr("disabled", true); 
                    $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                        $('#bbees_e3sbundle_individu_numIndBiomol').attr("disabled", false); 
                     });
                {% endif %}
            {% endif %}
        {% endif %}
        {% if action == 'new'  %}  
            $('#bbees_e3sbundle_individu_numIndBiomol').hide();
            $('#bbees_e3sbundle_individu_codeIndBiomol').hide();
            $('#bbees_e3sbundle_individu_codeIndTriMorpho').attr("disabled", true);  
            $(document).on('submit','form[name="bbees_e3sbundle_individu"]',function(ev){
                // Unlocking fields to allow registration
                $('#bbees_e3sbundle_individu_codeIndTriMorpho').attr("disabled", false); 
            });
             // case where a material is yet selected : Locked field: lotmaterielTypeahead
            {% if app.request.query.get('idFk') is defined and app.request.query.get('idFk') is not empty %}
                $('#bbees_e3sbundle_individu_lotmaterielTypeahead').attr("disabled", true).css("background-color", "WhiteSmoke");
            {% endif %}
            // specific features: automatically generating codeIndividualTriMorpho
            setCodeIndTriMorpho({"codeTube" : "{{'Code tube'|trans}}", "RefTaxonSelected":"{{'Choose a Taxon'|trans}}"});
            $('#bbees_e3sbundle_individu_especeIdentifiees').change(function (e) { setCodeIndTriMorpho({"codeTube" : "{{'Code tube'|trans}}", "RefTaxonSelected":"{{'Choose a Taxon'|trans}}"}); })
            //$('#bbees_e3sbundle_individu_lotMaterielFk').change(function (e) {  setCodeIndTriMorpho({"codeTube" : "{{'Code tube'|trans}}", "RefTaxonSelected":"{{'Choose a Taxon'|trans}}"}); })
            $('#bbees_e3sbundle_individu_codeTube').keyup(function (e) { setCodeIndTriMorpho({"codeTube" : "{{'Code tube'|trans}}", "RefTaxonSelected":"{{'Choose a Taxon'|trans}}"}); }) 
        {% endif %}

    });
</script>


<script>
//// Typeahead 
// Constructing the suggestion engine
    var lotmateriels = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
           url : '{{ path("lotmateriel_search", { 'q':"QUERY"}) |replace({"QUERY": "%QUERY"}) }}',
           wildcard: '%QUERY'
        }
    });

    // Initializing the typeahead fields
    var selectedTypeahead = 0; /* flag to know if there is a Typeahead selected value  */
    $('input.typeahead').val( "{{codeLotMateriel}}" );
    $('#bbees_e3sbundle_individu_lotmaterielId').val( {{idLotMateriel}} );
    $('.typeahead-lotmateriel').typeahead(
        {
            hint: true,
            highlight: false, /* Enable substring highlighting */
            minLength: 1 /* Specify minimum characters required for showing result */
        },
        {
            name: 'lotmateriels',
            source: lotmateriels,
            displayKey: "code",
            limit: 40
        }
    ).on('keyup', this, function (event) {
        selectedTypeahead = 0;
    }
    ).bind('typeahead:select', function(ev, item) {
        var $this = $(this);
        var codeTypeaheadSelect = item.code;
        var idTypeaheadSelect = item.id;
        //alert(codeTypeaheadSelect);
        $('#'+$this.attr('data-target_id')).val(item.id);
        $lotmateriel = $this.parents('.form-group').find('input.bbees_e3sbundle_individu[lotmaterielId]');
        if ($lotmateriel.length===1) {
            $lotmateriel.val(item.id);
        }
        selectedTypeahead = 1;
        // set auto-generated code if needed
        setCodeIndTriMorpho({"codeTube" : "{{'Code tube'|trans}}", "RefTaxonSelected":"{{'Choose a Taxon'|trans}}"});
    }
    ).bind('typeahead:close', function(ev, item) {
        if (selectedTypeahead == 0) { /* if there is no Typeahead selected value fields are reinitialized */
           $('input.typeahead').val( "{{codeLotMateriel}}" ) ;
           $('#bbees_e3sbundle_individu_lotmaterielId').val( {{idLotMateriel}} ) ;
           setCodeIndTriMorpho({"codeTube" : "{{'Code tube'|trans}}", "RefTaxonSelected":"{{'Choose a Taxon'|trans}}"});
        }
        var $this = $(this);
        if ($.trim($this.val())==='') {
            $this.val('');
            $lotmateriel = $this.parents('.form-group').find('input.bbees_e3sbundle_individu[lotmaterielId]');
            if ($lotmateriel.length===1) {
                $lotmateriel.val('');
            }
        }
    }
    );
</script>

{% endblock %}