{% extends 'edit.html.twig' %}

{# EDIT : LAME #}

{% block body %}
    
    {{ parent() }}   
           
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">Personne</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  
// Personne Moadal Action spécifiques
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
// Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_individulame_individuLameEstRealisePars');
                    var index = $container.find(':input').length; 
                    callAjax(form, $container, index);		
	}); 
               
        // Collection individuLameEstRealisePars (Personne)
        var $container = $('div#bbees_e3sbundle_individulame_individuLameEstRealisePars'); 
        addArrayCollectionButton($container,"Personne",true); 

        /*
        // addArrayCollectionButton2($container,"EspeceIdentifiee",false,true, 'estIdentifiePars' , 'Personne' ); 
            /* var nb_especeIdentifiees = $container.find('[id$=_estIdentifiePars]').length;
            //alert(nb_especeIdentifiees);
            for(var i= 0; i < nb_especeIdentifiees+1; i++)
            {
                var $container = $('div#bbees_e3sbundle_lotmateriel_especeIdentifiees_'+i.toString()+'_estIdentifiePars'); 
                if ( $container !== 'undefined' && $container !== null)  addArrayCollectionButton($container,"Personne",false);
            }
        */
    });
 </script>
 
<script type="text/javascript">  
//  interface Formulaire
    $(document).ready(function(){
        // fonctionalités des champ date(s) & date_precision 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_individulame_dateLame').change(function (e) { 
            dateFormat('bbees_e3sbundle_individulame', 'dateLame', message);
        }) 
        $('[for^=bbees_e3sbundle_individulame_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_individulame', 'dateLame', message);
        }) 
        {% if action == 'edit'  %} 
            // L'ajout d'un bouton Back to the individu
            addBackToRelatedRecord('individulame', 'individu', "{{'title.individu'|trans}}");
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            $('#bbees_e3sbundle_individulame_individuFk').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_individulame"]',function(ev){
                // deverouillage des champ descativé pour permettre l enregistrement
                $('#bbees_e3sbundle_individulame_individuFk').attr("disabled", false); 
             }); 
        {% endif %}
         {% if action == 'new'  %} 
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            $('#bbees_e3sbundle_lotmateriel_codeLotMateriel').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_lotmateriel"]',function(ev){
                // deverouillage des champ descativé pour permettre l enregistrement
                $('#bbees_e3sbundle_lotmateriel_codeLotMateriel').attr("disabled", false); 
             });         
        {% endif %}
    });
</script>


{% endblock %}
