{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('species-search') }}
{% endblock %}

{% block headincl %}
	<!-- Plotly and Leaflet for maps-->
{% endblock %}

{% block titlepage %}
	<h1>
		{{ title|trans({}, 'sections') }}
	</h1>
{% endblock %}

{% block action %}
	{{ parent() }}
{% endblock %}

{% block body %}{% endblock %}

{% block link %}{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('species-search') }}
{% endblock %}
