{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('species-search') }}
{% endblock %}

{% block headincl %}
	<!-- Plotly and Leaflet for maps-->
{% endblock %}

{% block titlepage %}
	<div class="clearfix"></div>
{% endblock %}

{% block action %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="clearfix"></div>
{% endblock %}

{% block link %}
	<div class="clearfix"></div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('species-search') }}


{% endblock %}
