{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Bootstrap toggle -->
  <link
  href="{{ asset('e3s/vendors/bootstrap-toggle/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
  <!-- Bootstrap select -->
  <link
  href="{{ asset('e3s/vendors/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
  <!-- Datatables -->
  <link
  href="{{ asset('e3s/vendors/datatables/datatables.min.css') }}" rel="stylesheet">
  <!-- Leaflet style -->
  <link
  href="{{ asset('e3s/vendors/leaflet/leaflet.css') }}" rel="stylesheet">
  <!--Leaflet fullscreen plugin -->
  <link
  href='{{ asset('e3s/vendors/leaflet-fullscreen/leaflet.fullscreen.css') }}' rel='stylesheet'/>
  <!-- Leaflet Easy Button style -->
  <link
  href="{{ asset('e3s/vendors/leaflet-easybutton/easy-button.css') }}" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link
  href="{{ asset('bundles/lehnaspeciessearch/css/common.css') }}" rel="stylesheet">
  <!-- Datatables Style -->
  <link href="{{ asset('bundles/lehnaspeciessearch/css/datatables-custom.css') }}" rel="stylesheet">
{% endblock %}

{% block headincl %}
  <!-- Plotly and Leaflet for maps-->
  <script src="{{ asset('e3s/vendors/plotly.js/plotly-latest.min.js') }}"></script>
  <script src="{{ asset('e3s/vendors/leaflet/leaflet.js') }}"></script>
  <script src="{{ asset('e3s/vendors/leaflet-easybutton/easy-button.js') }}"></script>
  <script src="{{ asset('e3s/vendors/esri-leaflet/esri-leaflet.js') }}"></script>
  <script src='{{ asset('e3s/vendors/leaflet-fullscreen/Leaflet.fullscreen.min.js') }}'></script>
{% endblock %}

{% block titlepage %}
  <div class="clearfix"></div>
{% endblock %}

{% block action %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="clearfix"></div>
{% endblock %}

{% block link %}
  <div class="clearfix"></div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <!-- Symfony javascript routing bundle -->
  <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  {# Symfony translation in JS #}
  <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
  <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'queries', 'locales': 'fr,en' }) }}"></script>
  <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages', 'locales': 'fr,en' }) }}"></script>
  <!-- Datatables -->
  <script src="{{ asset('e3s/vendors/datatables/datatables.min.js') }}"></script>
  <!-- Bootstrap Toggle -->
  <script src="{{ asset('e3s/vendors/bootstrap-toggle/js/bootstrap-toggle.min.js') }}"></script>
  <!-- Bootstrap select -->
  <script src="{{ asset('e3s/vendors/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>


{% endblock %}
