{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estidentifiepars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estIdentifiePar in estIdentifiePars %}
            <tr>
                <td><a href="{{ path('estidentifiepar_show', { 'id': estIdentifiePar.id }) }}">{{ estIdentifiePar.id }}</a></td>
                <td>{% if estIdentifiePar.dateCre %}{{ estIdentifiePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if estIdentifiePar.dateMaj %}{{ estIdentifiePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ estIdentifiePar.userCre }}</td>
                <td>{{ estIdentifiePar.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estidentifiepar_show', { 'id': estIdentifiePar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('estidentifiepar_edit', { 'id': estIdentifiePar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estidentifiepar_new') }}">Create a new estIdentifiePar</a>
        </li>
    </ul>
{% endblock %}
