{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estidentifiepar</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estIdentifiePar.id }}</td>
            </tr>
            <tr>
                <th>Datecre</th>
                <td>{% if estIdentifiePar.dateCre %}{{ estIdentifiePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemaj</th>
                <td>{% if estIdentifiePar.dateMaj %}{{ estIdentifiePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usercre</th>
                <td>{{ estIdentifiePar.userCre }}</td>
            </tr>
            <tr>
                <th>Usermaj</th>
                <td>{{ estIdentifiePar.userMaj }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estidentifiepar_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('estidentifiepar_edit', { 'id': estIdentifiePar.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
