{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% trans_default_domain 'queries' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('spsearch/consistency') }}
{% endblock %}

{% block page_title %}
	{% set title = "queries.concordance.title" %}
	{{parent()}}
{% endblock %}

{% block body %}
	{# Formulaire #}
	{% include 'SpeciesSearch/taxon-consistency/form.html.twig' %}

	<fieldset>
		<legend>
			<h2>
				{{"label.resultats"|trans }}
			</h2>
		</legend>
		{% include 'SpeciesSearch/taxon-consistency/results.html.twig' %}
	</fieldset>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('spsearch/consistency') }}
{% endblock %}
