{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <!-- Bootstrap toggle -->
  <link href="{{ asset('e3s/vendors/bootstrap-toggle/css/bootstrap-toggle.min.css') }}" rel="stylesheet">
  <!-- Bootstrap select -->
  <link href="{{ asset('e3s/vendors/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
  <!-- Bootstrap slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />
  <!-- Datatables -->
  <link href="{{ asset('e3s/vendors/datatables/datatables.min.css') }}" rel="stylesheet">
  <!-- Leaflet style -->
  <link href="{{ asset('e3s/vendors/leaflet/leaflet.css') }}" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link href="{{ asset('bundles/lehnaspeciessearch/css/queries.css') }}" rel="stylesheet">
  <!-- Datatables Style -->
  <link href="{{ asset('bundles/lehnaspeciessearch/css/datatables.fa.css') }}" rel="stylesheet">

{% endblock %}

{% block headincl %}
  <!-- Plotly and Leaflet for maps-->
  <script src="{{ asset('e3s/vendors/plotly.js/plotly-latest.min.js') }}"></script>
  <script src="{{ asset('e3s/vendors/leaflet/leaflet.js') }}"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"
    integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ=="
    crossorigin=""></script>

{% endblock %}

{% block titlepage %}
  <div class="clearfix"></div>
{% endblock %}

{% block action %}
{{ parent() }}
{% endblock %}

{% block body %}
  <div class="clearfix"></div>
{% endblock %}

{% block link %}
  <div class="clearfix"></div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <!-- Symfony javascript routing bundle -->
  <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  {# Symfony translation in JS #}
  <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
  <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'queries', 'locales': 'fr,en' }) }}"></script>
  <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'messages', 'locales': 'fr,en' }) }}"></script>
  <!-- Datatables -->
  <script src="{{ asset('e3s/vendors/datatables/datatables.min.js') }}"></script>
  <!-- Bootstrap Toggle -->
  <script src="{{ asset('e3s/vendors/bootstrap-toggle/js/bootstrap-toggle.min.js') }}"></script>
  <!-- Bootstrap select -->
  <script src="{{ asset('e3s/vendors/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
  <!-- Mustache templating engine -->
  <script src="{{ asset('e3s/vendors/mustache/mustache.js') }}"></script>
  <!-- Bootstrap slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js">
  </script>
  <!-- Custom Scripts -->
  <script src="{{ asset('bundles/lehnaspeciessearch/js/queries.js') }}"></script>

{% endblock %}