{% extends "requetes/base.modal.html.twig" %}

{% block modal_title %}
  {{details|first.taxname}}
  <span class="label label-default">{{details|first.methode}}</span>
  <span class="label label-info">{{details|first.date_motu|date('Y-m-d')}}</span>
{% endblock %}

{% block modal_body %}
{% trans_default_domain 'requetes' %}
  <div class="table-responsive" style='width:100%'>
    <table id="details-table" class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th>{{"columns.seqid" | trans}}</th>
          <th>{{"columns.accession" | trans}}</th>
          <th>{{"columns.type" | trans}}</th>
          <th>{{"columns.motu" | trans}}</th>
          <th>{{"columns.critere" | trans}}</th>
        </tr>
      </thead>
      <tbody>
        {% for row in details %}
          <tr>
            <td>{{row.id}}</td>
            <td>{{row.acc}}</td>
            <td>{{row.type|capitalize}}</td>
            <td>{{row.motu}}</td>
            <td>{{row.critere}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
