{% extends 'edit.html.twig' %}

{# EDIT : SEQUENCE ASSEMBLE EXT #}

{% block body %}

    {{ parent() }}    
    
    <!-- Modal : myModalPersonne -->
     <div id="myModalPersonne" class="modal" role="dialog">
     <div class="modal-dialog">
     <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h1 class="modal-title">Personne</h1>
          </div>
          <div class="modal-body">
            <div id='content_to_change_personne'>
                    {{ render(controller('BbeesE3sBundle:Personne:newmodal')) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
     </div>
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  
// Personne Modal Action spécifiques
    $('#myModalPersonne').on('show.bs.modal', function (e) {
        var modal = $(this);
         $('#bbees_e3sbundle_personne_nomPersonne').keyup(function (e) {
            var modal = $(this);
            var nomPersonne = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonne').val(nomPersonne);
        })
        $('#bbees_e3sbundle_personne_nomComplet').keyup(function (e) {
            var modal = $(this);
            var nomComplet = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomComplet').val(nomComplet);
        })
        $('#bbees_e3sbundle_personne_nomPersonneRef').keyup(function (e) {
            var modal = $(this);
            var nomPersonneRef = modal.val().toUpperCase();        
            $('#bbees_e3sbundle_personne_nomPersonneRef').val(nomPersonneRef);
        })
    })
 // Actions Jquery     
    $(document).ready(function(){         
        // Modal myModalPersonne : Manage new Personne for lotMaterielEstRealisePars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_sequenceassembleeext_sqcExtEstRealisePars');
                    var index = $container.find(':input').length; 
                    callAjax(form, $container, index);		
	}); 
        /* 
        // Modal myModalPersonne : Manage new Personne for est_identifie_pars
        $(document).on('submit','form[name="bbees_e3sbundle_personne"]',function(ev){
                    ev.preventDefault();		
                    var form = $(this);
                    var $container = $('div#bbees_e3sbundle_lotmaterielext_especeIdentifiees');
                    var index = $container.find(':input').length; 
                    var $container = $('div#bbees_e3sbundle_lotmaterielext_especeIdentifiees_0_estIdentifiePars');
                    callAjax(form, $container, index);		
	});
        */                      
        // Collection $sqcEstPublieDanss (Source)
        var $container = $('div#bbees_e3sbundle_sequenceassembleeext_sqcExtEstReferenceDanss'); 
        addArrayCollectionButton($container,"Source",false);                
        // Collection sequenceAssembleeEstRealisePars (Personne)
        var $container = $('div#bbees_e3sbundle_sequenceassembleeext_sqcExtEstRealisePars'); 
        addArrayCollectionButton($container,"Personne",true);  

        // Collection especeIdentifiees (EspeceIdentifiee)  
        var $container = $('div#bbees_e3sbundle_sequenceassembleeext_especeIdentifiees');        
        //addArrayCollectionButton($container,"EspeceIdentifiee",false,true ); 
        //addArrayCollectionButton2('bbees_e3sbundle_lotmaterielext_especeIdentifiees','dateIdentification',"EspeceIdentifiee",false,true );        
        addArrayCollectionButtonEmbed('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees','dateIdentification','EspeceIdentifiee',false,true,'estIdentifiePars','Personne'); 
 
    });
 </script>
 
<script type="text/javascript">  
//  interface Formulaire
    $(document).ready(function(){
        // fonctionalités des champ date(s) & date_precision 
        var message = {"INCONNU":"{{'alert.datePrecisionINCONNU'|trans}}", "ANNEE":"{{'alert.datePrecisionANNEE'|trans}}","MOIS":"{{'alert.datePrecisionMOIS'|trans}}","JOUR":"{{'alert.datePrecisionJOUR'|trans}}", "BAD-FORMAT-DATE":"{{'alert.BadFormatDate'|trans}}"};
        $('#bbees_e3sbundle_sequenceassembleeext_dateCreationSqcAss').change(function (e) { 
            dateFormat('bbees_e3sbundle_sequenceassembleeext', 'dateCreationSqcAss', message);
        }) 
        $('[for^=bbees_e3sbundle_sequenceassembleeext_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_sequenceassembleeext', 'dateCreationSqcAss', message);
        }) 
        $('#bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_0_dateIdentification').change(function (e) { 
            dateFormat('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_0', 'dateIdentification', message);
        }) 
        $('[for^=bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_0_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_0', 'dateIdentification', message);
        })
        $('#bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_1_dateIdentification').change(function (e) { 
            dateFormat('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_1', 'dateIdentification', message);
        }) 
        $('[for^=bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_1_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_1', 'dateIdentification', message);
        }) 
        $('#bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_2_dateIdentification').change(function (e) { 
            dateFormat('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_2', 'dateIdentification', message);
        }) 
        $('[for^=bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_2_datePrecisionVocFk]').click(function (e) { 
            dateDateprecision('bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_2', 'dateIdentification', message);
        })
        $('#bbees_e3sbundle_sequenceassembleeext_especeIdentifiees').change(function (e) { setCodeSqcAssExt();})
        $('#bbees_e3sbundle_sequenceassembleeext_collecteFk').change(function (e) {  setCodeSqcAssExt();})
        $('#bbees_e3sbundle_sequenceassembleeext_statutSqcAssVocFk').change(function (e) {  setCodeSqcAssExt();})
        $('#bbees_e3sbundle_sequenceassembleeext_origineSqcAssExtVocFk').change(function (e) {  setCodeSqcAssExt();})
        $('#bbees_e3sbundle_sequenceassembleeext_numIndividuSqcAssExt').keyup(function (e) { setCodeSqcAssExt();})
        $('#bbees_e3sbundle_sequenceassembleeext_accessionNumberSqcAssExt').keyup(function (e) { setCodeSqcAssExt();})
        // La fonction qui genere automatiquement le code Sqc Ass Ext
        function setCodeSqcAssExt() {
            var code = '';
            var RefTaxonSelected = $('#bbees_e3sbundle_sequenceassembleeext_especeIdentifiees_0_referentielTaxonFk option:selected').text();
            var statut = $('#bbees_e3sbundle_sequenceassembleeext_statutSqcAssVocFk option:selected').text();
            var codeCollecte = $('#bbees_e3sbundle_sequenceassembleeext_collecteFk option:selected').text();
            var origine = $('#bbees_e3sbundle_sequenceassembleeext_origineSqcAssExtVocFk option:selected').text();
            var numIndividu = $('#bbees_e3sbundle_sequenceassembleeext_numIndividuSqcAssExt').val();
            var accessionNumber = $('#bbees_e3sbundle_sequenceassembleeext_accessionNumberSqcAssExt').val();               
            if (statut == '') statut = "{{'Choose a statut'|trans}}" ;
            if (RefTaxonSelected == '') RefTaxonSelected = "{{'Choose a Taxon'|trans}}" ;
            if (numIndividu == '') numIndividu = "{{'Num individu sqc ass ext'|trans}}";
            if (accessionNumber == '') accessionNumber = "{{'Accession number sqc ass ext'|trans}}";
            //alert(RefTaxonSelected);
            if (statut=='VALIDEE'){
                code =  RefTaxonSelected+'_'+codeCollecte+'_'+numIndividu+'_'+accessionNumber+'|'+origine ;
            } else {
                code =  statut+'_'+RefTaxonSelected+'_'+codeCollecte+'_'+numIndividu+'_'+accessionNumber+'|'+origine ;
            }
            $('#bbees_e3sbundle_sequenceassembleeext_codeSqcAssExt').val(code);
            $('#bbees_e3sbundle_sequenceassembleeext_codeSqcAssExtAlignement').val(code);
        }
        // fonctionnalités spécifiques : generation automatiquement du  codeChromato
        {% if action == 'edit'  %}  
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            // on desactive le formulaire sequence assemblee
            $("form[name=form] :input").prop("disabled", true);
        {% endif %}
        {% if action == 'new'  %}  
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            {% if valid is not defined  %}  setCodeSqcAssExt(); {% endif %}
            $('#bbees_e3sbundle_sequenceassembleeext_codeSqcAssExt').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_sequenceassembleeext"]',function(ev){
                // deverouillage des champ descativé pour permettre l enregistrement
                $('bbees_e3sbundle_sequenceassembleeext_codeSqcAssExt').attr("disabled", false); 
             }); 
            {% if valid is not defined  %} setCodeSqcAssExt(); {% endif %}
            $('#bbees_e3sbundle_sequenceassembleeext_codeSqcAssExtAlignement').attr("disabled", true); 
            $(document).on('submit','form[name="bbees_e3sbundle_sequenceassembleeext"]',function(ev){
                // deverouillage des champ descativé pour permettre l enregistrement
                $('bbees_e3sbundle_sequenceassembleeext_codeSqcAssExtAlignement').attr("disabled", false); 
            }); 
        {% endif %}   
    });
</script>

{% endblock %}