{% extends 'base.html.twig' %}

{# LOGIN #}

{% block topnav %}
        <div class="top_nav">            
          <div class="nav_menu">
            <nav>  
               <div class="nav toggle">
                <a id="menu_toggle"><i class="fas fa-bars invisible"></i></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                  &nbsp;
              </ul>
            </nav>
          </div>
        </div>
{% endblock %}

{% block titlepage %}
  <div class="page-header">
    <div class="title">
      <h1>
        <i>
          Gene, Occurence and Taxa in Integrative Taxonomy
        </i>
      </h1>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
    
    <div class="col-md-5 col-sm-5 col-xs-15">
      <div class="x_panel">
        <div class="x_content media-middle">
          <img
            src="{{ asset('e3s/images/carte_stations_e3s.jpg') }}"
            height="300"
            alt="sequence adn"
            align="right"/>
        </div>         
      </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6">
      <div class="x_panel  ">
        <div class="x_content media-middle">
          <img
            src="{{ asset('e3s/images/sequence_adn.jpg') }}"
            height="300"
            alt="sequence adn"
            align="middle"/>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-15">
      <div class="x_panel">
        <div class="x_content">
          <img
            src="{{ asset('e3s/images/prosaelus_valdensis.jpg') }}"
            height="300"
            alt="prosaelus valdensis"
            align="middle"/>
        </div>
      </div>
    </div>
                       
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
    {#
        <div class="x_title">
          <h2>Login Form</h2>
          <div class="clearfix"></div>
        </div>
    #}
        <div class="x_content">

          <form class="form-horizontal form-label-left" action="{{ path('login') }}" method="post">

            <p>    {% if error %}
                  <div>{{ error.messageKey}} /  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}
                      <b> Please enter your login / password </b>
            </p>
            <span class="section"></span>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Username <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control col-md-7 col-xs-12" placeholder="fmallard2018" required="required"/>
              </div>
            </div>
            <div class="item form-group">
              <label for="password" class="control-label col-md-3">Password</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="password" id="password" name="_password" class="form-control col-md-7 col-xs-12" required="required"  />
              </div>
            </div>
            <div class="ln_solid">        
                      {# If you want to control the URL the user is redirected to on success (more details below) #}
                      <input type="hidden" name="_target_path" value="/{{app.request.getDefaultLocale()}}" /></div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>           
   
   <!-- footer content -->
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">    
         <div class="x_content">         
            <img
              src="{{ asset('e3s/images/logo-LEHNA.png') }}"
              width="75"
              height="75"
              alt="LEHNA"/>
            <span class="img-thumbnail">LEHNA : UMR CNRS 5023 Ecologie des Hydrosystèmes Naturels et Anthropisés,<br>
              Université Lyon 1 , ENTPE, CNRS, Université Lyon</span>
            <img
              src="{{ asset('e3s/images/logo-BBEES.png') }}"
              width="75"
              height="75"
              alt="Unité Bases de données sur la Biodiversité, Écologie, Environnement et Sociétés (BBEES), Muséum national d'Histoire naturelle, CNRS "/>
            <span class="img-thumbnail">BBEES : Unité Bases de données sur laBiodiversité, Écologie, Environnement et Sociétés<br>
              Muséum national d'Histoire naturelle, CNRS ; CP55, 57 rue Cuvier 75005 Paris, France</span>
            <img
              src="{{ asset('e3s/images/logo-CNRS.png') }}"
              width="75"
              height="75"
              alt="CNRS"/>
            <img
              src="{{ asset('e3s/images/logo-LYON1.png') }}"
              width="75"
              height="75"
              alt="UNIV-LYON1"/>
            <img
              src="{{ asset('e3s/images/logo-MNHN.png') }}"
              width="75"
              height="75"
              alt="MNHN"/>
            <img
              src="{{ asset('e3s/images/logosimpleCC.jpg') }}"
              height="75"
              alt="CC-IN2P3"/>
        </div> 
     </div>
   </div>
   <!-- /footer content -->
              
{% endblock %} 
