{% extends 'base.html.twig' %}

{% block body %}
    <h1>Individulameestrealisepars list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for individuLameEstRealisePar in individuLameEstRealisePars %}
            <tr>
                <td><a href="{{ path('individulameestrealisepar_show', { 'id': individuLameEstRealisePar.id }) }}">{{ individuLameEstRealisePar.id }}</a></td>
                <td>{% if individuLameEstRealisePar.dateCre %}{{ individuLameEstRealisePar.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if individuLameEstRealisePar.dateMaj %}{{ individuLameEstRealisePar.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ individuLameEstRealisePar.userCre }}</td>
                <td>{{ individuLameEstRealisePar.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('individulameestrealisepar_show', { 'id': individuLameEstRealisePar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('individulameestrealisepar_edit', { 'id': individuLameEstRealisePar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('individulameestrealisepar_new') }}">Create a new individuLameEstRealisePar</a>
        </li>
    </ul>
{% endblock %}
