{% extends 'base.html.twig' %}

{% block body %}
    <h1>Compositionlotmateriels list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nbindividus</th>
                <th>Commentairecompolotmateriel</th>
                <th>Datecre</th>
                <th>Datemaj</th>
                <th>Usercre</th>
                <th>Usermaj</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compositionLotMateriel in compositionLotMateriels %}
            <tr>
                <td><a href="{{ path('compositionlotmateriel_show', { 'id': compositionLotMateriel.id }) }}">{{ compositionLotMateriel.id }}</a></td>
                <td>{{ compositionLotMateriel.nbIndividus }}</td>
                <td>{{ compositionLotMateriel.commentaireCompoLotMateriel }}</td>
                <td>{% if compositionLotMateriel.dateCre %}{{ compositionLotMateriel.dateCre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if compositionLotMateriel.dateMaj %}{{ compositionLotMateriel.dateMaj|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ compositionLotMateriel.userCre }}</td>
                <td>{{ compositionLotMateriel.userMaj }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('compositionlotmateriel_show', { 'id': compositionLotMateriel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('compositionlotmateriel_edit', { 'id': compositionLotMateriel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compositionlotmateriel_new') }}">Create a new compositionLotMateriel</a>
        </li>
    </ul>
{% endblock %}
