{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h1>Couverture géographique d'échantillonnage</h1>
  <hr>
  <div class='row' style='padding:10px'>

    <div class="col-xs-12 col-lg-3 col-lg-offset-0">
      {# Formulaire #}
      {% include 'requetes/formulaire3/form.html.twig' %}
    </div>

    <div class=" col-xs-12 col-lg-9 col-lg-offset-0">
      <h2>Résultats</h2>
      {% include 'requetes/formulaire3/results.html.twig' %}
    </div>

  </div>

  {% include 'requetes/formulaire3/extra_templates.html.twig' %}

  {# Modal #}
  <div id="modal-container">
    {% include 'requetes/formulaire3/details.modal.html.twig' with {
      'taxname' : ''
    } %}
  </div>

{% endblock %}

{% block scripts %}

  {{ parent() }}

  <script>
    function onGenusSelected() {
      $("#submit-button").prop("disabled", true);
      $("#taxon-spinner").removeClass("hidden");
      $.post("{{path('speciesingenus')}}", {
        genus: $('#genus').val()
      }, function (response) {
        var species = $('#species');
        species.html('')
        for (i = 0; i < response.data.length; i++) {
          species.append('<option value=' + response.data[i].species + '>' + response.data[i].species + '</option>');
        }
        $("#submit-button").prop("disabled", false);
        $("#taxon-spinner").addClass("hidden");
      });
    }

    /* **************************
    *  Document ready
    **************************** */
    $(document).ready(function () {

      initSwitchery('.switchbox');

      var referentieltaxon_url = "{{path('referentieltaxon_show', {id:0})}}".slice(0, -1);

      window.onresize = function () {
        $(".geo-overlay").show();
        Plotly.Plots.resize(gd).then(function () {
          $(".geo-overlay").hide();
        });
      };

      onGenusSelected();

      $('#taxaFilter').on('change', function () {
        if (this.checked) {
          $(".taxa-select").prop('disabled', false);
        } else {
          $(".taxa-select").prop('disabled', true);
        }
      });

      $('#genus').on('change', function () {
        onGenusSelected();
      });

      $("#result-table").bootgrid({
        ajax: false,
        caseSensitive: false,
        formatters: {
          "details": bgDetailsForm,
          "number_format": bgRoundFloat,
          'taxonLink': function (column, row) {
            {% verbatim %}
              return Mustache.render("<a href='" + referentieltaxon_url + "{{id}}'>{{taxname}}</a>", row);
            {% endverbatim %}
        }
      },
      converters: {
        'float_number': {
          from: function (value) {
            console.log("from", value, typeof value);
            if (value == null) {
              return 0
            } else {
              return parseFloat(value).toFixed(3);
            }
          },
          to: function (value) {
            console.log("to", value, typeof value);
            if (value == null) {
              return 0;
            } else {
              return parseFloat(value).toFixed(3);
            }
          }
        }
      }
    }).on("loaded.rs.jquery.bootgrid", function (e) {
      $(".details-form").submit(function (event) {
        event.preventDefault();
        var taxid = $(this).find("input[name='taxon']").val();
        var lmp = $(this).find("input[name='lmp_lm']").val();
        var lmp_co1 = $(this).find("input[name='lmp_co1']").val();
        var data = $(this).serialize();
        $(".geo-overlay").show();
        $.ajax({
          type: 'POST',
          data: data,
          url: "{{ path('geocoords') }}",
          success: function (response) {
            gd = geoPlot(response.no_co1, response.with_co1, lmp, lmp_co1);
            $("#detailsModal .modal-title").html("Couverture géographique : " + response.taxname);
            $('#detailsModal').on('shown.bs.modal', function (e) {
              Plotly.Plots.resize(gd).then(function () {
                $(".geo-overlay").hide();
              });
            })
            $("#detailsModal").modal('show');

          }
        });
      });
    });

    $("#main-form").submit(function (event) {
      event.preventDefault();
      var form_data = $(this).serialize();
      $.ajax({
        url: "{{ path('requete3') }}",
        type: "POST",
        data: form_data,
        success: function (response) {
          $("#result-table").bootgrid("clear");

          var dataArray = [];
          for (var row in response.rows) {
            if (response.rows.hasOwnProperty(row)) 
              dataArray.push(response.rows[row]);
            }
          
          $("#result-table").bootgrid("append", dataArray);
          $("#result-table").bootgrid("reload");
        }
      });

    });

  });
  </script>

{% endblock %}